@media screen and (max-width: 1600px) and (min-width: 769px){
.electManage .search-container .datePicker{
    margin-top:10px!important;
}
}
.search-container .unblock-content{padding-bottom:15px;}

#addCar #adressArea .form-control{
     display:inline-block;
     width:32.5%;
 }
#viewModalElec #viewArea .form-control{
    display:inline-block;
    width:32.5%;
}

.fileup .up-content a{
    position: relative;
    border: 1px dashed #ddd;
    display: inline-block;
    width: 120px;
    height: 120px;

    /*加载背景图 */
    background-image: url(../img/add-img.png);

    /* 背景图垂直、水平均居中 */
    background-position: center center;

    /* 背景图不重复 */
    background-repeat: no-repeat;

    /* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */
    /*background-attachment: fixed;*/

    /* 让背景图基于容器大小伸缩 */
    background-size: cover;

    /* 设置背景颜色，背景图加载过程中会显示背景色 */
    background-color: #f3f3f3;
}
 .fileup .up-content a:hover,
 .fileup .up-content a:focus,
.fileup .up-content a:active,
 .fileup .up-content a:visited{
    border: 1px dashed red;

}
 .fileup .up-content input[type='file']{
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 120px;
    opacity:0;
}
.fileup .up-content output{
    width:118px;
    height:118px;
    padding:0;
}
.fileup .up-content output span{
    width:120px;
    position:absolute;
    top:0;left:0;
}
.fileup .up-content output i{
    position:absolute;
    top:-10px;
    right:-10px;
    color:red;
}
 .fileup .up-content output img{
    height:118px;width:118px;
}

@media screen and (max-width:1365px) and (min-width:1023px){
    #addCar .fileup .up-content a{
        width: 110px;
        height: 110px;
    }
    #addCar .fileup .up-content input[type='file']{
        width: 110px;
        height: 110px;
        opacity:0;
    }

    #addCar .fileup .up-content output{
        width:108px;
        height:108px;
        padding:0;
    }
    #addCar .fileup .up-content output i{
        position:absolute;
        top:-8px;
        right:-9px;
        color:red;
    }
    #addCar .fileup .up-content output img{
        height:108px;width:108px;
    }

}

.electManage .search-container .datePicker .glyphicon-calendar{
    opacity:0.5;
}
.electManage .search-container .datePicker input{
    border-right:0;
}
 #viewModalElec input{
    border:0;
     background:transparent;
}
#viewModalElec select{
    border:0;
}