.countWarp .navbar{
    /* ÉèÖÃÒõÓ° */
    -webkit-box-shadow:0px 0px 10px 0px #333;
    -moz-box-shadow:0px 0px 10px 0px #333;
    box-shadow:0px 0px 10px 0px #333;
    min-height:65px;
    position:fixed;
    width:100%;
}
.countWarp .navbar-default{
    background:rgba(250,250,250,0.8);
}
.countWarp  .container-fluid{padding-left:0;padding-right:0;}
.countWarp  .navbar-default .navbar-nav:first-child > .active > a,
.countWarp  .navbar-default .navbar-nav:first-child> .active > a:hover,
.countWarp  .navbar-default .navbar-nav:first-child > .active > a:focus{
    border-right:1px solid #ddd;
    background:rgba(232,241,255,0.9);
    color:#3C7ADA;

}
.countWarp  .navbar-default .navbar-nav:first-child > li > a>div:first-child {
     font-size:1.2em;
    font-weight:bold;
}
.countWarp  .navbar-default .navbar-nav:first-child > li > a{
    border-right:1px solid #ddd;
}
.countWarp  .navbar-default .navbar-nav:last-child > li > a img{
    padding-left:5px;
    border-left:1px dashed  #ddd;
}
.countWarp  .navbar-default .navbar-nav > li > a{
    color:#7C8196;
}
.countWarp .navbar-nav > li > a{
    line-height:1.5em;
}
.countWarp .nav > li > a{
    padding:10px 15px;
}
.countWarp  .navbar-default .navbar-nav:last-child > .active > a,
.countWarp  .navbar-default .navbar-nav:last-child> .active > a:hover,
.countWarp  .navbar-default .navbar-nav:last-child > .active > a:focus{
    background:rgba(232,241,255,0.9);
    color:#3C7ADA;

}
.container-fluid{
    width:100%;
    display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
    display: -moz-box; /* Firefox 17- */
    display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
    display: -moz-flex; /* Firefox 18+ */
    display: -ms-flexbox; /* IE 10 */
    display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
    justify-content:space-between;
}
.container-fluid>ul:first-child{
    padding-left:0;
}







