.countWarp .home-title{
    height:60px;
    width:100%;
    background:rgba(250,250,250,0.9);
    float:left;
}
.countWarp .home-title .home-nav>li>a{
    border-right:1px solid #ddd;
    padding:8px 10px 0px 10px!important;
}
.countWarp .home-title .home-nav-right>li>a{
    line-height:60px;
}
.countWarp  .home-title .home-nav-right>li>a img{
    padding-left:5px;
    border-left:1px dashed  #ddd;
}
.countWarp  .home-title .home-nav-right>li:last-child>a i{
    padding-right:5px;
}
.countWarp .home-title .home-nav>li>a,.home-nav-right>li>a{
    display:block;
    color:#7C8196;
    height:100%;
    padding:0 5px;

}
.countWarp  .home-title .active{
    color:#3C7ADA!important;
    background:rgba(232,241,255,0.9);
}

.countWarp  .home-title .home-nav:first-child > li > a>div:first-child {
font-size:1.2em;
font-weight:bold;
}








