.countWarp .home-title{
    height:60px;
    width:100%;
    background:#fff;
    /*float:left;*/
}
.countWarp .home-title .home-nav>li>a{
    border-right:1px solid #ddd;
    padding:8px 13px 0px 13px!important;
}
.countWarp .home-title .home-nav-right>li>a{
    line-height:60px;
}
.countWarp  .home-title .home-nav-right>li:last-child>a i{
    padding-right:5px;
}
.countWarp .home-title .home-nav>li>a{
    display:block;
    color:#666666;
    height:100%;

}
.countWarp .home-nav-right>li>a{
    color:#666666;
    height:100%;
}
.countWarp .home-title .home-nav>li>a i,.countWarp .home-nav-right>li>a i{font-size:25px;}
.countWarp  .home-title .home-nav .active{
    color:#3C7ADA!important;
    background:rgba(232,241,255,0.9);
}

.countWarp  .home-title .home-nav:first-child > li > a>div:first-child {
font-size:1.2em;
font-weight:bold;
}
.countWarp .home-title .home-nav>li>a{text-align:left;}
.countWarp .home-title .home-nav>li>a>span{font-size:13px;}
/*.countWarp .home-title .home-nav-right>li:nth-child(odd){line-height:60px;width:10px;}*/
.countWarp .home-title .home-nav-right>li:last-child a{padding-right:10px;}
.countWarp .home-title .home-nav-right .border-dashed {
    border-right: 1px dashed #91A2BE;
    margin: 3px!important;
    padding: 0 4px 0 0!important;
}
#homeDateStart,#homeDateEnd{width:47%;}
#guijiModal .modal-body form>div:first-child select,#guijiModal .modal-body form>div:first-child input{margin:0 2px;}
#guijiModal .swichWrap{
    /*float:right;*/
    width:40px;
    height:17px;
    /*margin-top:2px;*/
    margin-left:20px;
    background-color:#ccc;
    border-radius:16px;
    position:relative;
    transition:0.3s;
    margin-right:5px;
}
#guijiModal input[type="radio"], input[type="checkbox"]{margin:0;}
.countWarp #guijiModal .guijiCircle {
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    left: 0px;
    transition: 0.3s;
    box-shadow: 0px 1px 5px rgba(0,0,0,.5);
}
.countWarp  #guijiModal .active{
    background:none;
    left:25px;
}
 .modal-footer .btn-guiji{
    background:#fff;
    border:1px solid #ddd;
}
.modal-footer .btn-guiji:hover {
    color: #409eff;
    border-color: #c6e2ff;
    background-color: #ecf5ff;
}
#dingweiModal .modal-body form>div:first-child select,#dingweiModal .modal-body form>div:first-child input{margin:0 2px;}

#positionTable{
    width:800px;
    padding:10px;
    background:rgba(255,255,255,0.85);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.position-car-table{width:600px!important;}
#positionTable>ul:first-child>li:last-child{
    background:#2C7DFA;
    color:#fff;
    padding:8px 15px;
    border-radius:8px;
}
#positionTable>ul:first-child>li>img{width:20px;margin-right:3.5px;}
#positionTable>p{margin-top:5px;color:#707070;}
#positionTable>p>i{margin-right:5px;margin-left:3px;}
#positionTable>ul.flex-time li{
    padding:8px 15px;
    border:1px solid #ddd;
    border-left:0;
}
#positionTable>ul.flex-time li:first-child{
    border-left:1px solid #ddd;
}
#positionTable>ul.flex-time {
    /*margin-left:10px;*/
    margin-top:12px;
    margin-left:5px;
}
#positionTable>ul.flex-time li.active{
    background:#E8F1FF;
    color:#2C7DFA;
    font-weight:bold;
}
#positionTable hr{width:100%;height:1px;border-top:1px solid #ddd;margin-top:20px;}
#positionTable table thead tr>th:first-child div{margin-left:10px;}
#positionTable thead tr th{background:transparent;}

#r-result{width:100%;}
#r-result input{
    width:250px;
    background:rgba(255,255,255,0.7)
}

#mapSearch{
    position: absolute;
    top: 100px;
    right: 10px;
}

#mapSearch #r-result span.form-control-feedback {
    top: 1px;
    left:210px!important;
    color: #2D7CF9;
}
.home-title ul.home-nav-right>li{margin:0 10px;}
.home-title ul.home-nav-right .swichWrap {
    /* float: right; */
    width: 40px;
    height: 17px;
    margin-left:0px;
    background-color: #ccc;
    border-radius: 16px;
    position: relative;
    transition: 0.3s;
    margin-right: 5px;
}

.home-title ul.home-nav-right .guijiCircle {
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    left: 0px;
    transition: 0.3s;
    box-shadow: 0px 1px 5px rgba(0,0,0,.5);
}
.home-title ul.home-nav-right .guijiCircle.active{
    left:25px;
}
#positionTable.rightToggle{
    right:10px!important;
}
.home-title>.home-nav>li>a>ul>li{height:100%;}
.home-title>.home-nav>li>a>ul>li:first-child{margin-right:5px;}
.home-title>.home-nav>li>a>ul>li>p{
    font-size: 1.2em;
    font-weight: bold;
}
#positionTable .tableArea{
    max-height:400px;
    overflow-y:scroll;
}

@media screen and (min-width:1024px) and (max-width:1152px){
    .countWarp .home-title .home-nav>li>a{
        border-right:1px solid #ddd;
        padding:8px 3px 0px 3px!important;

    }
    .countWarp .home-title .home-nav>li>a>span{
        font-size:12px;
    }
    .countWarp  .home-title .home-nav:first-child > li > a>div:first-child {
        font-size:1em;
        font-weight:bold;
    }
    .countWarp .home-title .home-nav-right>li:nth-child(odd){line-height:60px;}
    .countWarp .home-title .home-nav-right>li:last-child a{padding-right:10px;}
    .countWarp .home-title .home-nav-right .border-dashed {
        border-right: 1px dashed #91A2BE;
        margin: 2px!important;
        padding: 0 4px 0 0!important;
    }
    .countWarp .home-title .home-nav-right>li,
    .countWarp .home-title .home-nav-right>li>a>span{
        font-size:12px;
    }
    .countWarp .home-title .home-nav-right>li>a img{width:23px;}
    .home-title ul.home-nav-right .swichWrap {
        margin-left: 5px;
        width: 30px;
        margin-right:3px;
    }
    .home-title ul.home-nav-right .guijiCircle {
        width: 16px;
        height: 16px;
        background-color: #fff;
        border-radius: 50%;
        position: absolute;
        left: 0px;
        transition: 0.3s;
        box-shadow: 0px 1px 5px rgba(0,0,0,.5);
    }
    .home-title ul.home-nav-right .guijiCircle.active{
        left:15px;
    }
    .countWarp .home-title .home-nav>li>a{
        line-height:17px;
    }
}

#allmap label{max-width:none!important;}
.home-title>ul>li i{
	color:rgb(102, 179, 255)
}
.down-up{
    transform:rotate(180deg);
    -ms-transform:rotate(180deg); 	/* IE 9 */
    -moz-transform:rotate(180deg); 	/* Firefox */
    -webkit-transform:rotate(180deg); /* Safari ºÍ Chrome */
    -o-transform:rotate(180deg); 	/* Opera */
    /*transition: all 0.3s;*/
}
#detail .fa-angle-double-down{
    transition: all 0.3s;
}

#trackOperation{
    position: absolute;
    top: 116px;
    right: 10px;
    background:#fff;
    padding:10px 5px;
    transition:all 0.3s;
}
#trackOperation>.btn-group{margin:5px 10px;}
#searchResultPanel{
    border: 1px solid #C0C0C0;
    width: 150px;
    height: auto;
    display: none;
}
.countWarp .alarmMap .home-nav .active,.countWarp .peopleManageMap .home-nav .active{
    background:#fff;
    color:#666!important;
}











