/*���ļ�Ϊ����ie9��ʽ���ļ�������ɾ��*/

/*������ʽ*/
.page-title>.title-brand>div.title-text{float:left;}
.page-title>.title-brand>ul.title-nav{float:right;}
.page-title>.title-brand{height:50px;line-height:50px;}
.title-nav > li:last-child > a{padding:0 20px;}
.page-title>.title-brand:after{
    content: ''; display: block; height: 0; clear: both;
}
.page-title>.title-brand>ul.title-nav>li{float:left;}
.tableArea>.table>tbody>tr>td.flex-items>i{
    float:left;
    margin-top:5px;
}
.tableArea>.table>tbody>tr>td.flex-items>i:first-child{margin-left:15px;}
.tableArea>.table>tbody>tr>td.flex-items>.dropdown{
    float:left;
}

/*index��ʽ*/
#app>.app-header>.navbar-header>.navbar-brand>ul>li{
    float:left;
}
#app>.app-header>.navbar-header>.navbar-brand>ul{padding-left:7px;}
#aside-user>.wrapper>a{
    float:left;
}
#aside-user{
    padding:15px 10px;
}

/*home��ʽ*/
.home-title>ul.home-nav{
    float:left;
}
.home-title>ul.home-nav>li{
    float:left;
}
.home-title>ul.home-nav>li ul.flex li{
    float:left;
}
.countWarp .home-title .home-nav > li > a{height:60px;}
.home-title>ul.home-nav-right{
    float:right;
}
.home-title>ul.home-nav-right>li{
    float:left;
    line-height:60px;
}
.home-title>ul.home-nav-right>li>div{
    float:left;
}
.home-title>ul.home-nav-right>li>div.swichWrap{margin-top:22px;}
#guijiModal .col-sm-7.flex>div{float:left;}
#guijiModal .col-sm-7.flex>div.dandu{padding-top:6px;margin:0 5px;}
#positionTable>ul.flex-between:after{
    content: ''; display: block; height: 0; clear: both;
}
#positionTable>ul.flex-between>li:first-child{
    float:left;
}
#positionTable>ul.flex-between>li:last-child{
    float:right;
}
#positionTable>ul.flex-between>li>img{
    float:left;
}
#positionTable>ul.flex-between>li>h4{
    float:left;
}

/*����������ʽ*/
#addCar .modal-body .myModalTitle>img,#updateCar .modal-body .myModalTitle>img,#viewModalElec .modal-body .myModalTitle>img{float:left;}
#addCar .modal-body .myModalTitle>div,#updateCar .modal-body .myModalTitle>div,#viewModalElec .modal-body .myModalTitle>div{float:left;}
#addCar .modal-body .myModalTitle,#updateCar .modal-body .myModalTitle,#viewModalElec .modal-body .myModalTitle{height:25px;margin-bottom:10px;}

/*������������ʽ*/
.electAlarm>.title-brand>.title-nav>li.border-dashed{margin-top:20px;}

/*����׷����ʽ*/
.alarmTrack>.title-brand{height:50px;line-height:50px;}

/*��վ��ʽ*/
.station-content>.page-title>.title-brand>select{float:left;margin-top:20px;}
.station-content>.page-title>.title-brand>ul.title-nav{float:right;}
.station-content>.page-title>.title-brand>ul.title-nav>li.border-dashed{margin-top:36px;}
.station-content>.page-title>.title-brand>ul.title-nav>li>a{margin-top:15px;}

/*��վ�豸������ʽ*/
.stationDeviceManage.page-title> .title-brand{height:70px;line-height:50px;}
.stationDeviceManage>.title-brand>.title-nav form{height:45px;}
.stationDeviceManage .title-brand .navbar-form button{margin-bottom:15px;}

/* 附加基站异常记录管理 */
.stationExceptionRecprdManage.page-title> .title-brand{height:70px;line-height:50px;}
.stationExceptionRecprdManage>.title-brand>.title-nav form{height:45px;}
.stationExceptionRecprdManage .title-brand .navbar-form button{margin-bottom:15px;}

/*�������������ʽ*/
.limitArea-content > .page-title > .title-brand > .title-text{margin-top:20px;}
.limitArea-content > .page-title > .title-brand > .title-nav>li.border-dashed{margin-top:36px;}
.limitArea-content > .page-title > .title-brand > .title-nav>li>a{margin-top:15px;}

/*�������򱨾����� ��ʽ*/
.page-title.alarmManage-content > .title-brand{height:70px;line-height:50px;}
.alarmManage-content > .title-brand > .title-nav form{height:45px;}
.alarmManage-content .title-brand .navbar-form button{margin-bottom:15px;}

/*�û�������ʽ*/
.userManage>.title-brand{height:70px;}
.userManage>.title-brand>.title-nav form{height:45px;}
.userManage>.title-brand>.title-nav form button{margin-bottom:10px;}
#addUser .modal-body .userModalSwitch,#updateUser .modal-body .userModalSwitch{height:50px;}
#addUser .modal-body .userModalSwitch>ul,#updateUser .modal-body .userModalSwitch>u{float:left;}
#addUser .modal-body .userModalSwitch>ul>li,#updateUser .modal-body .userModalSwitch>ul>li{float:left;}
#addUser .modal-body .userModalSwitch>ul>li>button,#updateUser .modal-body .userModalSwitch>ul>li>button{float:left;}
#addUser .modal-body .userModalSwitch>ul>li>button>span,#updateUser .modal-body .userModalSwitch>ul>li>button>span{float:left;}
#addUser .modal-body .userModalSwitch>ul>li>button>i,#updateUser .modal-body .userModalSwitch>ul>li>button>i{float:left;}
#addUser .modal-body .userModalSwitch>div,#updateUser .modal-body .userModalSwitch>div{float:right;}
#addUser .modal-body .userModalSwitch>div>label,#updateUser .modal-body .userModalSwitch>div>label{float:left;}
#addUser .modal-body .userModalSwitch>div>select,#updateUser .modal-body .userModalSwitch>div>select{float:left;}