.limitArea-content{
    width: 50%;
    height: auto;
    background: rgba(255,255,255,0.7);
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 500;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.limitArea-content.leftToggle{
    left:-48.5%!important;
}
.limitArea-content  .title-nav>li:last-child>a{
    background:none;
}
.limitArea-content>.page-title>.title-brand>.title-text{float:left;margin-top: 15px;}
.limitArea-content>.page-title>.title-brand>ul.title-nav{float:right;}
.limitArea-content>.page-title>.title-brand>ul.title-nav>li{float:left;}
.limitArea-content .page-title .title-brand .searchInput img{width:20px;}