.countWarp .station-content{
    width:60%;
    height:auto;
    /*padding:10px 10px;*/
    background:#fff;
    position:absolute;
    top:20px;left:20px;
    z-index:500;
}

.countWarp .searchInput{
    background:transparent;
}
.station-content .title-nav>li:last-child a{
    background:none!important;
    color:#333;
}
.station-content .title-nav{width:80%;}
@media screen and (max-width : 1024px){
    .countWarp .station-content{width:80%;}
}