<nav class="page-title shadow alarmTrack">
    <div class="title-brand flex-between align-items">
        <div class="title-text flex-items">
            报警追踪
        </div>
        <ul class="title-nav flex align-items">
            <li ng-show="rootUserPowerDto.alarmDelete==1">
                <a href="">
                    <button class=" btn btn-guiji" ng-click="goDeleteElectAlarms()">
                        <i class="glyphicon glyphicon-trash"></i> 批量删除
                    </button>
                </a>
            </li>
        </ul>
    </div>
    <div class="search-container">
        <form class="form-inline">
            <div class="block-content">
                <div class="form-group">
                    <label for="">车牌号</label> <input ng-attr-type type="text" placeholder placeholder="车牌号查询"
                                                     ng-model="plateNum" class="form-control"/>
                </div>
                <div class="form-group datePicker">
                    <label>报警时间：</label>
                    <!--指定 date标记-->
                    <div class='input-group date' id='alarmDateStart'>
                        <input ng-attr-type type='text' class="form-control" ng-model="alarmDateStart" placeholder placeholder="选择开始时间" readonly
                               ng-style style="width:200px;"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    --
                    <div class='input-group date' id='alarmDateEnd'>
                        <input ng-attr-type type='text' class="form-control" ng-model="alarmDateEnd" placeholder placeholder="选择结束时间" readonly
                               ng-style style="width:200px;"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <button ng-attr-type type="button" ng-click="goSearch()" class="btn btn-primary">搜索</button>
                </div>

            </div>
        </form>
    </div>
</nav>

<!-- 表格操作区域开始 -->
<div class="tableArea shadow countent no-padding">
    <table class="table table-striped" id="tableArea" ng-model="Allusers">
        <thead>
        <tr>
            <th>
                <div>
                    <input ng-attr-type type="checkbox" ng-checked="isChecked()" ng-click="toggleAll()" class="checkBox">
                    <label for="allSecSon"></label>
                </div>
            </th>
            <th>序号</th>
            <th>报警基站</th>
            <th>报警车牌号</th>
            <th>报警详细位置</th>
            <th>车主姓名</th>
            <th>车主手机号</th>
            <th>报警时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="electAlarmDto in AllElectalarms">
            <td><input ng-attr-type type="checkbox"
                       ng-checked="exists(electAlarmDto, selected)"
                       ng-click="toggle(electAlarmDto, selected)"/></td>
            <!-- <td>{{user.sysUser.user_id}}</td> -->
            <td>{{electAlarmDto.electAlarm.elect_alarm_id}}</td>
            <td>{{electAlarmDto.electAlarm.alarm_station_phy_num}}</td>
            <td>{{electAlarmDto.electAlarm.alarm_gua_card_num}}</td>
            <td data-toggle="tooltip" data-placement="right" title="{{electAlarmDto.statioAddress}}">{{electAlarmDto.statioAddress}}</td>
            <td>{{electAlarmDto.ownerName}}</td>
            <td>{{electAlarmDto.ownerTele}}</td>
            <td data-toggle="tooltip" data-placement="right" title="{{electAlarmDto.electAlarm.alarm_time}}">{{electAlarmDto.electAlarm.alarm_time}}</td>
            <td>
                <i ng-show="rootUserPowerDto.alarmDelete==1" class="glyphicon glyphicon-trash"  ng-click="goDeleteElectAlarm(electAlarmDto.electAlarm.elect_alarm_id)"></i>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="page">
        <!-- 翻页功能 -->
        <div class="row" ng-style style="text-align:center">
            <pagination ng-change="pageChanged()" total-items="bigTotalItems"
                        ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm"
                        boundary-links="true" rotate="false" num-pages="numPages"></pagination>
        </div>
    </div>
</div>
<!-- 表格操作区域结束 -->