<nav class="page-title shadow electManage">
    <div class="title-brand flex-between align-items">
        <div class="title-text">车辆管理</div>
        <ul class="title-nav flex align-items">
            <!--<li>-->
                <!--<a href="">-->

                    <!--<img src="app/img/guijiIcon.png" alt=""/>-->
                    <!--<span class="border-dashed">轨迹查询</span>-->


                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="">-->
                    <!--<img src="app/img/dengjiIcon.png" alt=""/>-->
                    <!--<span class="border-dashed">登记证打印</span>-->
                <!--</a>-->
            <!--</li>-->
            <li>
                <a href="">
                    <img src="app/img/baoxianIcon.png" alt=""/>
                    <span class="border-dashed">保险打印</span>

                </a>
            </li>
            <li>
                <a href="">
                    <img src="app/img/daochuIcon.png" alt=""/>
                    <span class="border-dashed">批量导出</span>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="app/img/delectIcon.png" alt=""/>
                    <span class="border-dashed" ng-click="godeleteElects()">批量删除</span>
                </a>
            </li>
            <li>
                <a href="" data-toggle="modal" data-target="#addCar">
                    <i class="glyphicon glyphicon-plus"></i>
                    添加车辆
                </a>
            </li>
        </ul>
    </div>
    <div class="search-container">
        <form class="form-inline">
            <div class="block-content">
                <div class="form-group">
                    <label for="importUser">录入人&nbsp;&nbsp;&nbsp;</label>
                    <select id="" class="form-control" id="importUser"
                            ng-model="sysUserID" ng-disabled="editable"
                            ng-options="x.user_id as x.user_name for x in sysUsers"></select>
                </div>
                <div class="form-group">
                    <label for="area">车辆状态</label>
                    <select class="form-control" id="area">
                        <option value="" disabled selected style="display:none;">-请选择-</option>
                        <option>正常</option>
                        <option>黑名单</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="">是否投保</label>
                    <select class="form-control">
                        <option value="" disabled selected style="display:none;">-请选择-</option>
                        <option>已投保</option>
                        <option>未投保</option>
                    </select>
                </div>

                <div class="form-group">
                    <button type="button" class="btn btn-primary">搜索</button>
                </div>
                <a href="" class="text-blue pull-right margin-top" ng-click="searchBlock()">
                    更多搜索条件
                    <i class="fa fa-fw fa-angle-down text"></i>
                    <i class="fa fa-fw fa-angle-up text-active"></i>
                </a>
            </div>
            <div class="unblock-content no-block">
                <div class="form-group">
                    <label for="area">所属区域</label> <select class="form-control" id="">
                    <option value="" disabled selected style="display:none;">-请选择-</option>
                    <option>上海</option>
                    <option>黑名单</option>
                </select> <select class="form-control" id="">
                    <option value="" disabled selected style="display:none;">-请选择-</option>
                    <option>上海</option>
                    <option>上海</option>
                </select> <select class="form-control" id="">
                    <option value="" disabled selected style="display:none;">-请选择-</option>
                    <option>徐汇</option>
                </select>
                </div>
                <div class="form-group">
                    <select class="form-control">
                        <option>车主手机号</option>
                        <option>身份证号</option>
                        <option>车牌号</option>
                        <option>防盗芯片编号</option>
                        <option>车主姓名</option>
                    </select> <input type="text" class="form-control" placeholder="请输入关键词"/>
                </div>

                <div class="form-group datePicker">
                    <label>选择日期：</label>
                    <!--指定 date标记-->
                    <div class='input-group date' id='electDateStart'>
                        <input type='text' class="form-control" placeholder="选择开始时间"
                               readonly/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
						</span>
                    </div>
                    --
                    <div class='input-group date' id='electDateEnd'>
                        <input type='text' class="form-control" placeholder="选择结束时间"
                               readonly/> <span class="input-group-addon"> <span
                            class="glyphicon glyphicon-calendar"></span>
						</span>
                    </div>
                </div>

            </div>
        </form>
    </div>
</nav>


<!-- 表格操作区域开始 -->
<div class="tableArea shadow countent no-padding">
    <table class="table table-striped table-bordered" id="tableArea" ng-model="AllElects">
        <thead>
        <tr>
            <th>
                <div>
                    <input type="checkbox" ng-checked="isChecked()" ng-click="toggleAll()" class="checkBox">
                    <label for="allSecSon">全选</label>
                </div>
            </th>
            <!-- <th>序号</th> -->
            <th>车牌号</th>
            <th>防盗芯片编号</th>
            <th>所属地区</th>
            <th>车辆状态</th>
            <th>录入人</th>
            <th>是否投保</th>
            <th>车主姓名</th>
            <th>身份证号</th>
            <th>联系电话</th>
            <!-- <th>是否有效</th> -->
            <th>添加时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="electDto in AllElectDtos">
            <td>
                <input type="checkbox" ng-checked="exists(electDto, selected)"
                       ng-click="toggle(electDto, selected)"/>
            </td>
            <!-- <td>{{$index+1}}</td> -->
            <td>{{electDto.electrombile.plate_num}}</td>
            <td>{{electDto.electrombile.gua_card_num}}</td>
            <td>{{electDto.provinceName}}_{{electDto.cityName}}_{{electDto.areaName}}</td>
            <td ng-bind="getState(electDto.electrombile.elect_state)"></td>
            <td>{{electDto.recordName}}</td>
            <td ng-bind="getInsur(electDto.electrombile.insur_detail)"></td>
            <td>{{electDto.electrombile.owner_name}}</td>
            <td>{{electDto.electrombile.owner_id}}</td>
            <td>{{electDto.electrombile.owner_tele}}</td>
            <td>{{electDto.electrombile.record_time}}</td>
            <td>
                <button class="btn btn-primary btn-sm" ng-click="goDeleteElect(electDto.electrombile.elect_id)">删除
                </button>
                <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#updateUser"
                        ng-click="goUpdateUser(user.sysUser.user_id)">编辑
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="page">
        <!-- 翻页功能 -->
        <div class="row" style="text-align:center">
            <pagination ng-change="pageChanged()" total-items="bigTotalItems"
                        ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm"
                        boundary-links="true" rotate="false" num-pages="numPages"></pagination>
        </div>
    </div>
</div>
<!-- 表格操作区域结束 -->


<!--  添加车辆模态框 -->
<div class="modal fade" id="addCar" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <div class="modal-title" id="myModalLabel">
                    备案登记
                </div>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="electForm">
                    <div class="myModalTitle flex margin-bottom">
                        <img src="app/img/user-car-icon.png" alt="" class="modal-img"/>

                        <div>车主信息</div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group ">
                                <label for="phoneNum" class="control-label col-md-4">
                                    <i>*</i>
                                    手机号：
                                </label>

                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="phoneNum" ng-model="addOwnerTele">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">
                                    <i>*</i>
                                    姓名：
                                </label>

                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="addOwnerName" name="username">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="address" class="col-sm-4 control-label">
                                    <i>*</i>
                                    地址：
                                </label>

                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="addOwnerAddress" name="address"
                                           id="address">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="id-user" class="col-sm-4 control-label">
                                    <i>*</i>
                                    身份证：
                                </label>

                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="addOwnerID" name="id-user"
                                           id="id-user">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="divider-line"></div>

                    <div class="myModalTitle flex margin-top2 margin-bottom">
                        <img src="app/img/car-icon.png" alt="" class="modal-img"/>

                        <div>车辆信息</div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">
                                    <i>*</i>
                                    防盗芯片：
                                </label>

                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="addGuaCardNum">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">
                                    车牌号：
                                </label>

                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="addPlateNum">
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="row">


                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">
                                    <i>*</i>
                                    车架号：
                                </label>

                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="addVeIdNum">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">
                                    <i>*</i>
                                    投保明细：
                                </label>

                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="addInsurDetail">
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">


                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">
                                    <i>*</i>
                                    车辆品牌：
                                </label>

                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="addElectBrand">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">
                                    <i>*</i>
                                    购车日期：
                                </label>

                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="addBuyDate">
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="row">


                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">
                                    <i>*</i>
                                    车辆颜色：
                                </label>

                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="addElectColor">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">
                                    电机号：
                                </label>

                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="addMotorNum">
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group" id="adressArea">
                                <label for="" class="col-sm-2 control-label">
                                    <i>*</i>
                                    所在区域：
                                </label>

                                <div class="col-sm-8">
                                    <select id="" class="form-control" ng-model="addProvinceID" ng-disabled="editable"
                                            ng-change="getCitis()"
                                            ng-options="x.province_id as x.name for x in provinces"></select>
                                    <select id="" class="form-control" ng-model="addCityID" ng-disabled="editable"
                                            ng-change="getAreas(addCityID)"
                                            ng-options="x.city_id as x.name for x in citis"></select>
                                    <select id="" class="form-control" ng-model="addAreaID" ng-disabled="editable"
                                            ng-options="x.area_id as x.name for x in areas"></select>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="" class="col-sm-2 control-label">
                                    备注：
                                </label>

                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="addNote">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 flex-items ">
                            <div class="col-sm-2" style="text-align:center;">
                                <span> 车辆类型：</span>
                            </div>
                            <div class="col-sm-10">
                                <label class="radio-inline">
                                    <input type="radio" ng-model="addElectType" name="inlineRadioOptions"
                                           id="inlineRadio1">
                                    两轮
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" ng-model="addElectType" name="inlineRadioOptions"
                                           id="inlineRadio2">
                                    三轮
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" ng-model="addElectType" name="inlineRadioOptions"
                                           id="inlineRadio3">
                                    四轮
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" ng-model="addElectType" name="inlineRadioOptions"
                                           id="inlineRadio4">
                                    摩托车
                                </label>
                            </div>

                        </div>
                    </div>

                    <div class="row fileup margin-top2">
                        <div class="col-sm-12">
                            <!--<div class="form-group fileup">-->
                            <label for="" class="col-sm-2 control-label">
                                上传照片：
                            </label>

                            <div class="col-sm-10">
                                <div class="col-md-3 up-content">
                                    <a href="javascript:;" class="picfile">
                                        <input type="file" id="electPic" ngf-select="addElectPic()" ng-model="electPic"
                                               name="electPic">
                                        <output id="pic_list" class="pic_list">
                                            <span>
                                                <img ngf-src="electPic" title="{{electPic.name}}">
                                                <i ng-click="dropElectPic(electPic)">&times;</i>
                                            </span>
                                        </output>
                                    </a>

                                    <p>车辆照片(牌照)</p>
                                </div>
                                <div class="col-md-3 up-content">
                                    <a href="javascript:;" class="picfile">
                                        <input type="file" id="indentityCardPic" ngf-select="addIndentityCardPic()"
                                               ng-model="indentityCardPic" name="indentityCardPic">
                                        <output id="pic_list" class="pic_list">
                                            <span>
                                                <img ngf-src="indentityCardPic" title="{{indentityCardPic.name}}">
                                            <i ng-click="dropIndentityCardPic(indentityCardPic)">&times;</i>
                                            </span>
                                        </output>
                                    </a>

                                    <p>身份证照片</p>
                                </div>
                                <div class="col-md-3 up-content">
                                    <a href="javascript:;" class="picfile"><input type="file" id="recordPic"
                                                                                  ngf-select="addRecordPic()"
                                                                                  ng-model="recordPic"
                                                                                  name="recordPic">
                                        <output id="pic_list" class="pic_list">
                                            <span>
                                                <img ngf-src="recordPic" title="{{recordPic.name}}">
                                                <i ng-click="dropRecordPic(recordPic)">&times;</i>
                                            </span>
                                        </output>
                                    </a>

                                    <p>备案登记表照片</p>
                                </div>
                                <div class="col-md-3 up-content">
                                    <a href="javascript:;" class="picfile"><input type="file"
                                                                                  id="installCardPic"
                                                                                  ngf-select="addInstallCardPic()"
                                                                                  ng-model="installCardPic"
                                                                                  name="installCardPic">
                                        <output id="pic_list" class="pic_list">
                                            <span>
                                                <img ngf-src="installCardPic" title="{{installCardPic.name}}">
                                                <i ng-click="dropInstallCardPic(installCardPic)">&times;</i>
                                            </span>
                                        </output>
                                    </a>

                                    <p>安装芯片照片</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="submit()" class="btn btn-primary">
                    添加
                </button>
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">取消
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
</div>
<!--  添加车辆模态框 end -->