<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="#">
                    <div>325698</div>
                    <div>登记车辆</div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div>325647</div>
                    <div>黑名单车辆</div>

                </a>
            </li>
            <li>
                <a href="#">
                    <div>370264</div>
                    <div>在线车辆</div>

                </a>
            </li>
            <li>
                <a href="#">
                    <div>951264</div>
                    <div>报警车辆</div>

                </a>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#">
                    <img src="app/img/guijiSearch.png" alt=""/>
                    <span>轨迹查询</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="app/img/dingweiIcon.png" alt=""/>
                    <span>定位</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="app/img/minganArea.png" alt=""/>
                    <span>敏感区域</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="app/img/huaxianIcon.png" alt=""/>
                    <span>化限制区</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
<!--以下市可视化地图的内容-->
<div id="" class=""> </div>


