<div class="home-title flex flex-between shadow">
    <ul class="flex home-nav">
        <li>
            <a href="">
                <div>62423</div>
                <span>登记车辆</span>
            </a>
        </li>
        <li>
            <a href="">
                <div>62423</div>
                <span>黑名单车辆</span>
            </a>
        </li>
        <li>
            <a href="">
                <div>65817</div>
                <span>在线车辆</span>
            </a>
        </li>
        <li>
            <a href="">
                <div>13223</div>
                <span>报警车辆</span>
            </a>
        </li>
    </ul>

    <ul class="flex home-nav-right">
        <li>
            <a href="">
               <img src="app/img/guijiSearch.png" alt=""/>
                <span>轨迹查询</span>
            </a>
        </li>
        <li>
            <a href="#">
            <img src="app/img/dingweiIcon.png" alt=""/>
            <span>定位</span>
            </a>
        </li>
        <li>
            <a href="#">
            <img src="app/img/minganArea.png" alt=""/>
            <span>敏感区域</span>
            </a>
        </li>
        <li>
            <a href="#">
            <img src="app/img/huaxianIcon.png" alt=""/>
            <span>化限制区</span>
            </a>
        </li>
    </ul>

</div>
<!--以下市可视化地图的内容-->
<div id="allmap" style="width:100%;height:800px;"> </div>


