<nav class="page-title shadow alarmManage-content">
    <div class="title-brand flex-between align-items">
        <div class="title-text flex-items">
            限制区域报警管理
        </div>
        <ul class="title-nav flex align-items">
            <li>
                <form class="navbar-form navbar-form-sm navbar-left" ui-shift="prependTo"
                      data-target=".navbar-collapse" role="search">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" ng-model="plateNum"
                                   typeahead="state for state in states | filter:$viewValue | limitTo:8"
                                   class="form-control input-sm bg-light no-border searchInput padder"
                                   placeholder="车牌号">
                                 <span class="input-group-btn">
                                    <button type="submit" class="btn btn-sm bg-light searchInput" ng-click="limitAlarmElects()"><i
                                            class="fa fa-search margin-right"></i></button>
                                </span>
                        </div>
                    </div>
                </form>
            </li>
            <li>
                <a href="">
                    <b class="border-dashed-left"></b>
                    <button class="btn btn-guiji" ng-click="goDeleteAlarms()">
                        <i class="glyphicon glyphicon-trash"></i>
                        批量删除
                    </button>
                </a >
            </li>
        </ul>
    </div>
    <div class="search-container">
        <form class="form-inline">
            <div class="block-content">
                <div class="form-group">
                    <label for="">限制区域名</label> 
                    <input type="text" placeholder placeholder="限制区域名" ng-model="limitAreaName" class="form-control"/>
                </div>

                <div class="form-group datePicker">
                    <label>报警时间：</label>
                    <!--指定 date标记-->
                    <div class='input-group date' id='alarmDateStart'>
                        <input type='text' class="form-control" placeholder="选择开始时间" readonly style="width:200px;" ng-model="startTime"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    --
                    <div class='input-group date' id='alarmDateEnd'>
                        <input type='text' class="form-control" placeholder="选择结束时间" readonly style="width:200px;" ng-model="endTime"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <button type="button" class="btn btn-primary" ng-click="limitAlarmElects()">搜索</button>
                </div>

            </div>
        </form>
    </div>
</nav>

<!-- 表格操作区域开始 -->
<div class="tableArea shadow countent no-padding">
    <table class="table table-striped" id="tableArea" ng-model="Allusers">
        <thead>
        <tr>
            <th>
                <div>
                    <input type="checkbox" ng-checked="isChecked()" ng-click="toggleAll()" class="checkBox">
                    <label for="allSecSon"></label>
                </div>
            </th>
            <th>序号</th>
            <th>限制区域名</th>
            <th>车牌号</th>
            <th>报警时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="alarm in AllLimitAlarmElects">
            <td>
                <input type="checkbox" ng-checked="exists(alarm, selected)"
                       ng-click="toggle(alarm, selected)"/>
            </td>
            <!-- <td>{{user.sysUser.user_id}}</td> -->
            <td>{{$index+1}}</td>
            <td>{{alarm.area_name}}</td>
            <td>{{alarm.enter_plate_num}}</td>
            <td>{{alarm.enter_time}}</td>
            <td>
                <i class="glyphicon glyphicon-trash" ng-click="goDeleteAlarm(alarm.alarm_id)"></i>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="page">
        <!-- 翻页功能 -->
        <div class="row" style="text-align:center">
            <pagination ng-change="pageChanged()" total-items="bigTotalItems"
                        ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm"
                        boundary-links="true" rotate="false" num-pages="numPages"></pagination>
        </div>
    </div>
</div>
<!-- 表格操作区域结束 -->