<div class="home-title flex flex-between shadow peopleManageMap">
    <ul class="flex home-nav">
        <li><a><!-- href="#/electManage" -->
            <ul class="flex flex-items">
                <li><i class="iconfont icon-zaixiancheliang"></i></li>
                <li>
                    <p>{{inlineElects}}</p> <span> 线上人数</span>
                </li>
            </ul>
        </a>
        </li>

    </ul>

    <ul class="flex home-nav-right flex-items flex-end col-sm-8">
        <!-- <li style="height: 60px;">
            <a class="flex flex-items" style="height:100%;">href="#/electManage"
                <label for="">查询类型： </label>
                <select name="" ng-options="x.id as x.name for x in AllPeopleType" ng-model="peopleType" class="form-control">
                    <option disabled="disabled" style='display: none' value=''></option>
                </select>
            </a>
        </li> -->
        <!-- <li class="" style="width: 60%">
            <div class="flex-items">
                <div class='input-group date' style="width: 40%;" id='peopleStartTime'>
                    <input ng-attr-type type='text' class="form-control"
                           ng-model="peopleStartTime" ng-attr-placeholder
                           placeholder="选择开始时间" readonly/> <span
                        class="input-group-addon"> <span
                        class="glyphicon glyphicon-calendar"></span>
								</span>
                </div>
                &nbsp;
                <div class="dandu">至</div>
                &nbsp;
                <div class='input-group date' style="width: 40%;" id='peopleEndTime'>
                    <input ng-attr-type type='text' class="form-control"
                           ng-model="peopleEndTime" ng-attr-placeholder
                           placeholder="选择结束时间" readonly/> <span
                        class="input-group-addon"> <span
                        class="glyphicon glyphicon-calendar"></span>
								</span>

                </div>

                <button ng-attr-type="" ng-style style="margin-left: 10px;" type="button"
                        ng-click="peopleLocation()"
                        class="btn btn-primary">查询
                </button>
            </div>

        </li> -->

        <li ng-show="rootUserPowerDto.traceSearch==1" class="flex-items">
            <a href="" data-toggle="modal" data-target="#guijiModal"
               class="flex flex-items"> <i class="iconfont icon-guijichaxun"></i>
                <span>轨迹查询</span>
            </a>
        </li>
        <li ng-show="rootUserPowerDto.location==1" style="height: 60px;">
            <a href="" data-toggle="modal" data-target="#dingweiModal"
               class="flex flex-items" style="height: 100%;"> <i
                    class="iconfont icon-dingwei1"
                    style="font-size: 25px; display: block;"></i> <span
                    style="display: block;">定位</span>
            </a>
        </li>
    </ul>

</div>


<!--轨迹查询模态框-->
<div class="modal fade" id="guijiModal" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button ng-attr-type type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">轨迹查询</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="">
                    <div class="form-group">
                        <label for="" class="control-label col-md-3"> 查询条件： </label>
                        <div class="col-sm-7">
                            <div class="col-sm-4" ng-style style="margin-right: 5px;">
                                <select class="form-control"
                                        ng-model="keywordTypeForTrace" ng-disabled="editable"
                                        ng-options="x.id as x.name for x in AllKeywordType"></select>
                            </div>
                            <div class="col-sm-4">
                                <input ng-attr-type type="text" ng-attr-placeholder
                                       placeholder="请输入关键词" class="form-control"
                                       ng-model="keywordForTrace"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label col-md-3"> 日期从： </label>

                        <div class="col-sm-7 flex-items">
                            <div class='input-group date' id='homeDateStart'>
                                <input ng-attr-type type='text' class="form-control"
                                       ng-model="startTimeForTrace" ng-attr-placeholder
                                       placeholder="选择开始时间" readonly/> <span
                                    class="input-group-addon"> <span
                                    class="glyphicon glyphicon-calendar"></span>
								</span>
                            </div>
                            &nbsp;
                            <div class="dandu">至</div>
                            &nbsp;
                            <div class='input-group date' id='homeDateEnd'>
                                <input ng-attr-type type='text' class="form-control"
                                       ng-model="endTimeForTrace" ng-attr-placeholder
                                       placeholder="选择结束时间" readonly/> <span
                                    class="input-group-addon"> <span
                                    class="glyphicon glyphicon-calendar"></span>
								</span>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button ng-attr-type type="button" ng-click="findElectTrace()"
                        class="btn btn-primary">查询轨迹
                </button>
                <button ng-attr-type type="button" ng-click="clearElectTrace()"
                        class="btn btn-guiji">清除轨迹
                </button>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
</div>


<!--定位模态框-->
<div class="modal fade" id="dingweiModal" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button ng-attr-type type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="">车辆定位</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="">
                    <div class="form-group">
                        <label for="" class="control-label col-md-3"> 定位条件： </label>

                        <div class="col-sm-7">
                            <div class="col-sm-4" ng-style style="margin: 0 5px;">
                                <select id="" class="form-control"
                                        ng-model="keywordTypeForLocation" ng-disabled="editable"
                                        ng-options="x.id as x.name for x in AllKeywordType"></select>
                            </div>
                            <div class="col-sm-4">
                                <input ng-attr-type type="text" ng-attr-placeholder
                                       placeholder="请输入关键词" class="form-control"
                                       ng-model="keywordForLocation"/>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button ng-attr-type type="button" ng-click="findElectLocation()"
                        class="btn btn-primary">确定
                </button>
                <button ng-attr-type type="button" ng-click="clearElectLocation()"
                        class="btn btn-guiji" ui-sref="peopleManageMap">清除定位
                </button>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
</div>


<!--以下市可视化地图的内容-->
<div id="allmap" ng-style style="width: 100%; height: 800px;"></div>
<div id="result" ng-style style="width: 100%;"></div>

<div id="mapSearch">
    <div id="r-result" class="form-group has-feedback">
        <input ng-attr-type type="text" id="suggestId" size="20" ng-attr-value
               value="百度" class="form-control" ng-attr-placeholder
               placeholder="搜索地址、区域"/> <span
            class="glyphicon glyphicon-search form-control-feedback"
            aria-hidden="true"></span>
    </div>
    <div id="searchResultPanel" ng-style
         style="border: 1px solid #C0C0C0; width: 150px; height: auto; display: none;"></div>
</div>

<!--车辆经过的基站-->
<div id="trackOperation" class="shadow" ng-show="showOperation"
     style="position: absolute; top: 140px; right: 10px;">
    <div class="btn-group" ng-style style="margin:5px 10px;">
        <button id="run" class="btn btn-guiji">开始</button>
        <!--<button id="stop">停止</button>-->
        <button id="pause" class="btn btn-guiji">暂停</button>
        <button id="hide" class="btn btn-guiji">隐藏信息窗口</button>
        <button id="show" class="btn btn-guiji">展示信息窗口</button>
        <button class="btn btn-guiji" ng-click="clearElectTrace()">
            <i class="glyphicon glyphicon-trash"></i>
            清除轨迹
        </button>
        <button id="detail" ng-click="showDetail()" class="btn btn-guiji" style="color:rgb(102, 179, 255);">
            详细
            <i class="fa fa-angle-double-down down-up"></i>
        </button>
    </div>
    <div class="dismis dismisPosition fa fa-fw" ng-click="clearElectTrace()">×</div>

</div>
<div id="positionTable" class="shadow" ng-style style="position: absolute; top: 205px; right: 10px;" ng-show="showTable">
    <ul class="flex-between">
        <li class="flex-items"><i class="iconfont icon-cheliangguanli"
                                  style="color: #2C7DFA; font-size: 25px;"></i>
            <h4>人员轨迹&nbsp;{{electNumForTraceTable}}</h4></li>
        <li ng-show="traceStationsLength!=null">经过{{traceStationsLength}}个&nbsp;基站</li>
    </ul>
    <div class="tableArea" ng-style style="margin-top: 5%;">
        <table class="table table-striped table-hover" id="tableArea"
               ng-model="traceStations">
            <thead>
            <tr>
                <th>
                    <div>
                        <input ng-attr-type type="checkbox" ng-checked="isChecked()" ng-click="toggleAll()"
                               class="checkBox">
                        <label for="allSecSon"></label>
                    </div>
                </th>
                <th style="width: 15% !important;">姓名</th>
                <th>报警基站位置</th>
                <th style="width: 15%;">手机号</th>
                <th>报警时间</th>
                <!-- <th style="width: 5%" ng-show="rootUserPowerDto.sysUser.opt_power==1">操作</th> -->
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="peopleDto in AllPeoplelarms" style="cursor: pointer;">
                <td><input ng-attr-type type="checkbox"
                           ng-checked="exists(peopleDto, selected)"
                           ng-click="toggle(peopleDto, selected)"/>
                </td>
                <td title="{{peopleDto.people_name}}">{{peopleDto.people_name}}</td>
                <td style="display: none;">{{peopleDto.station_address}}</td>
                <td data-toggle="tooltip" data-placement="right" title="{{peopleDto.station_address}}">
                    {{peopleDto.station_name}}
                </td>
                <td title="{{peopleDto.people_tele}}">{{peopleDto.people_tele}}</td>

                <td data-toggle="tooltip" data-placement="right" title="{{peopleDto.update_time}}">
                    {{peopleDto.update_time}}
                </td>
                <!-- <td ng-show="rootUserPowerDto.sysUser.opt_power==1">
                    <i ng-show="rootUserPowerDto.alarmDelete==1" class="glyphicon glyphicon-trash"
                       ng-click="goDeleteElectAlarm(peopleDto.peo_sta_id)"></i>
                </td> -->
            </tr>
            </tbody>
        </table>
        <div class="page">
            <!-- 翻页功能 -->
            <div class="row" ng-style style="text-align:center">
                <pagination ng-change="pageChanged()" total-items="bigTotalItems"
                            ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm"
                            boundary-links="true" rotate="false" num-pages="numPages"></pagination>
            </div>
        </div>
    </div>
</div>
