<div class="limitArea-content shadow">
    <nav class="page-title no-margin no-padding full-width">
        <div class="title-brand align-items no-border">
            <div class="title-text margin-left-md">敏感区域管理</div>

            <ul class="title-nav flex-between align-items margin-left">
                <li>
                    <form class="navbar-form navbar-form-sm" ui-shift="prependTo" data-target=".navbar-collapse"
                          role="search">
                        <div class="form-group border-bottom">
                            <div class="input-group">
                                <input type="text" ng-model="sensitiveAreaName"
                                       typeahead="state for state in states | filter:$viewValue | limitTo:8"
                                       class="form-control input-sm bg-light no-border searchInput no-padding"
                                       placeholder="请输入敏感区域名搜索" style="color:#333;">
                        <span class="input-group-btn">
                             <button type="submit" class="btn btn-sm bg-light searchInput text-right" ng-click="goSearch()">
                                 <img src="app/img/search .png" alt="" class="pull-right"/>
                             </button>
                        </span>
                            </div>
                        </div>
                    </form>
                </li>
                <li class="border-dashed" style="height:15px;color:#7D7C82;"></li>
                <li ng-show="rootUserPowerDto.sensitiveAreaDelete==1 && rootUserPowerDto.sysUser.opt_power==1">
                    <a href="" style="color:#7D7C82;">
                        <button class="btn btn-guiji" ng-click="goDeleteLimitAreas()">
                            <i class="glyphicon glyphicon-trash"></i>
                            批量删除
                        </button>
                    </a >
                </li>
                <!--<li>-->
                    <!--<a href="">-->
                        <!--<img src="app/img/huaxianIcon-white.png" alt=""/>-->
                        <!--<span>设置限制区</span>-->
                    <!--</a>-->
                <!--</li>-->
            </ul>
        </div>

        <!-- 表格操作区域开始 -->
        <div class="tableArea no-padding full-width no-margin">
            <table class="table table-striped" id="tableArea" ng-model="AllSensitiveAreas">
                <thead>
                <tr>
                    <th>
                        <div>
                            <input type="checkbox" ng-checked="isChecked()" ng-click="toggleAll()" class="checkBox">
                        </div>
                    </th>
                    <!--<th>序号</th>-->
                    <th>敏感区域名</th>
                    <th>关联基站</th>
                    <th>关联车辆</th>
                    <th>启动时间</th>
                    <th>结束时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="sensitive in AllSensitiveAreas">
                    <td>
                        <input type="checkbox" ng-checked="exists(sensitive, selected)"
                               ng-click="toggle(sensitive, selected)"/>
                    </td>

                    <td title="{{sensitive.sensitive_area_name}}">{{sensitive.sensitive_area_name}}</td>
                    <td title="{{sensitive.station_names}}">{{sensitive.station_names}}</td>
                    <td title="{{sensitive.black_list_elects_names}}">{{sensitive.black_list_elects_names}}</td>
                    <td title="{{sensitive.sens_start_time}}">{{sensitive.sens_start_time}}</td>
                    <td title="{{sensitive.sens_end_time}}">{{sensitive.sens_end_time}}</td>
                    <td>
                        <i class="glyphicon glyphicon-trash" ng-show="rootUserPowerDto.sensitiveAreaDelete==1 && rootUserPowerDto.sysUser.opt_power==1" ng-click="goDeleteSensitiveAreas(sensitive.sensitive_area_id)"></i>
                       	<i class="glyphicon glyphicon-edit" ng-show="rootUserPowerDto.sensitiveAreaUpdate==1 && rootUserPowerDto.sysUser.opt_power==1" ng-click="goUpdateSensitiveArea(sensitive.sensitive_area_id)" data-toggle="modal" data-target="#updateSensitiveArea"></i>
                        <i class="glyphicon glyphicon-eye-open" ng-click="showSensitiveArea(sensitive.sensitive_area_id)" data-target="#viewSensitiveArea"  data-toggle="modal"></i>
                        <i class="glyphicon glyphicon-map-marker" ng-click="goStationLocation(sensitive.station_ids)"
                           title="查看位置" ng-style style="color:#3C7ADA;"></i>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="page">
                <!-- 翻页功能 -->
                <div class="row" style="text-align:center">
                    <pagination ng-change="pageChanged()" total-items="bigTotalItems"
                                ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm"
                                boundary-links="true" rotate="false" num-pages="numPages"></pagination>
                </div>
            </div>
        </div>
        <!-- 表格操作区域结束 -->
    </nav>
    <div class="dismis closeStationPosition fa fa-fw fa-angle-left"></div>
</div>

<!--  添加敏感区域模态框 start -->
<div class="modal fade" id="addSensitiveArea" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button ng-attr-type type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <div class="modal-title" id="">新增敏感区域</div>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="electForm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label"> <i>*</i>
                                    敏感区域名：
                                </label>

                                <div class="col-sm-8">
                                    <input ng-attr-type type="text" class="form-control" ng-model="addSensitiveAreaName">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label"> <i>*</i>关联基站名： </label>

                                <div class="col-sm-8">
                                    <input ng-attr-type type="text" class="form-control" ng-model="addStationNames">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">
                                    关联车牌号：
                                </label>

                                <div class="col-sm-8">
                                    <input ng-attr-type type="text" class="form-control" ng-model="addElectPlatenum">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">
                                    关联黑名单车辆：
                                </label>

                                <div class="col-sm-8">
                                    <!-- <input ng-attr-type type="text" class="form-control" ng-model="addBlackelectPlatenum"> -->
                                	<select class="addBlackelectPlatenum" id="addBlackelectPlatenum" multiple="multiple">
                                            <optgroup id="normal" label="正常车辆">
                                                <!-- <option ng-repeat="normal in alarmVehicle" value="normal.elect_id">{{normal.plate_num}}</option> -->
                                            </optgroup>
                                            <optgroup id="alarm" label="报警车辆">
                                                <!-- <option  ng-repeat="alarm in alarmVehicle" value="alarm.elect_id">{{alarm.plate_num}}</option> -->
                                            </optgroup>
                                        </select>
                                       
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">
                                    启动时间：
                                </label>

                                <div class="col-sm-8 input-group date" id="startTime">
                                    <input ng-attr-type type="text" class="form-control" ng-model="sensStartTime">
                                     <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                     </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">
                                        结束时间：
                                    </label>

                                    <div class="col-sm-8 input-group date" id="endTime">
                                        <input ng-attr-type type="text" class="form-control" ng-model="sensEndTime">
                                         <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
						                </span>
                                    </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">
                                    报警启动按钮：
                                </label>

                                <div class="col-sm-8">
                                    <input ng-attr-type type="checkbox" class="form-control" ng-style style="margin-top:10px;" ng-model="status" id="sentivesStatus">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label"><i>*</i>
                                    出现次数：
                                </label>
                                <div class="col-sm-8">
                                    <input ng-attr-type type="number" class="form-control" min="1" value="1" ng-model="enterNum">
                                </div>
                            </div>
                        </div>
                        
                        <!-- 
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label"><i>*</i>
                                    多选下拉框：
                                </label>
                                <div class="col-sm-8">
                                    <select id="example-enableCollapsibleOptGroups-enableClickableOptGroups-enableFiltering-includeSelectAllOption" multiple="multiple">
                                            <optgroup label="Group 1">
                                                <option value="1-1">Option 1.1</option>
                                                <option value="1-2" selected="selected">Option 1.2</option>
                                                <option value="1-3" selected="selected">Option 1.3</option>
                                            </optgroup>
                                            <optgroup label="Group 2">
                                                <option value="2-1">Option 2.1</option>
                                                <option value="2-2">Option 2.2</option>
                                                <option value="2-3">Option 2.3</option>
                                            </optgroup>
                                        </select>
                                </div>
                            </div>
                        </div>
      					-->
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button ng-attr-type type="button" class="btn btn-primary" ng-click="addSensitiveArea()">
                    添加
                </button>
                <button ng-attr-type type="button" class="btn btn-default" data-dismiss="modal">取消
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
</div>
<!--  添加敏感区域模态框 end -->


<!--  操作修改/敏感区域模态框 start -->
<div class="modal fade" id="updateSensitiveArea" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button ng-attr-type type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <div class="modal-title" id="">更新敏感区域</div>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="electForm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label"> <i>*</i>
                                    敏感区域名：
                                </label>

                                <div class="col-sm-8">
                                    <input ng-attr-type type="text" class="form-control" ng-model="updateSensitiveArea.sensitive_area_name">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label"> <i>*</i>关联基站名： </label>

                                <div class="col-sm-8">
                                    <input ng-attr-type type="text" class="form-control" ng-model="updateSensitiveArea.station_names">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">
                                    关联车牌号：
                                </label>

                                <div class="col-sm-8">
                                    <input ng-attr-type type="text" class="form-control" ng-model="updateSensitiveArea.list_elects">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">
                                    关联黑名单车辆：
                                </label>

                                <div class="col-sm-8">
                                    <!-- <input ng-attr-type type="text" class="form-control" ng-model="addBlackelectPlatenum"> -->
                                	<select class="addBlackelectPlatenum" id="updateBlackelectPlatenum" multiple="multiple">
                                            <optgroup id="normal" label="正常车辆">
                                                <!-- <option ng-repeat="normal in alarmVehicle" value="normal.elect_id">{{normal.plate_num}}</option> -->
                                            </optgroup>
                                            <optgroup id="alarm" label="报警车辆">
                                                <!-- <option  ng-repeat="alarm in alarmVehicle" value="alarm.elect_id">{{alarm.plate_num}}</option> -->
                                            </optgroup>
                                        </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">
                                    启动时间：
                                </label>

                                <div class="col-sm-8 input-group date" id="viewStartTime">
                                    <input ng-attr-type type="text" class="form-control" ng-model="updateSensitiveArea.sens_start_time">
                                     <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                     </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">
                                        结束时间：
                                    </label>

                                    <div class="col-sm-8 input-group date" id="viewEndTime">
                                        <input ng-attr-type type="text" class="form-control" ng-model="updateSensitiveArea.sens_end_time">
                                         <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
						                </span>
                                    </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">
                                    报警启动按钮：
                                </label>

                                <div class="col-sm-8">
                                    <input ng-attr-type type="checkbox" class="form-control" id="updateStatus" ng-style style="margin-top:10px;" ng-model="updateSensitiveArea.status" id="updateStatus">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label"><i>*</i>
                                    出现次数：
                                </label>
                                <div class="col-sm-8">
                                    <input ng-attr-type type="number" class="form-control" min="1" value="1" ng-model="updateSensitiveArea.enter_num">
                                </div>
                            </div>
                        </div>
                       
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button ng-attr-type type="button" class="btn btn-primary" ng-click="update()">
                    更新
                </button>
                <button ng-attr-type type="button" class="btn btn-default" data-dismiss="modal">取消
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
</div>
<!--  操作修改/敏感区域模态框 end -->




<!--  操作查看/敏感区域模态框 start -->
<div class="modal fade" id="viewSensitiveArea" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button ng-attr-type type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <div class="modal-title" id="">查看敏感区域</div>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="electForm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label"> <i>*</i>
                                    敏感区域名：
                                </label>

                                <div class="col-sm-8">
                                    <input ng-attr-type type="text" class="form-control" ng-model="sensitiveArea.sensitive_area_name">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label"> <i>*</i>关联基站名： </label>

                                <div class="col-sm-8">
                                    <input ng-attr-type type="text" class="form-control" ng-model="sensitiveArea.station_names">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">
                                    关联车牌号：
                                </label>

                                <div class="col-sm-8">
                                    <input ng-attr-type type="text" class="form-control" ng-model="sensitiveArea.list_elects">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">
                                    关联黑名单车辆：
                                </label>

                                <div class="col-sm-8">
                                    <!-- <input ng-attr-type type="text" class="form-control" ng-model="addBlackelectPlatenum"> -->
                                	<select class="addBlackelectPlatenum" id="viewBlackelectPlatenum" multiple="multiple">
                                            <optgroup id="normal" label="正常车辆">
                                                <!-- <option ng-repeat="normal in alarmVehicle" value="normal.elect_id">{{normal.plate_num}}</option> -->
                                            </optgroup>
                                            <optgroup id="alarm" label="报警车辆">
                                                <!-- <option  ng-repeat="alarm in alarmVehicle" value="alarm.elect_id">{{alarm.plate_num}}</option> -->
                                            </optgroup>
                                        </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">
                                    启动时间：
                                </label>

                                <div class="col-sm-8 input-group date" id="viewStartTime">
                                    <input ng-attr-type type="text" class="form-control" ng-model="sensitiveArea.sens_start_time">
                                     <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                     </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">
                                        结束时间：
                                    </label>

                                    <div class="col-sm-8 input-group date" id="viewEndTime">
                                        <input ng-attr-type type="text" class="form-control" ng-model="sensitiveArea.sens_end_time">
                                         <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
						                </span>
                                    </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">
                                    报警启动按钮：
                                </label>

                                <div class="col-sm-8">
                                    <input ng-attr-type type="checkbox" class="form-control" id="viewStatus" ng-style style="margin-top:10px;" ng-model="sensitiveArea.status">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label"><i>*</i>
                                    出现次数：
                                </label>
                                <div class="col-sm-8">
                                    <input ng-attr-type type="number" class="form-control" min="1" value="1" ng-model="sensitiveArea.enter_num">
                                </div>
                            </div>
                        </div>
                       
                    </div>

                </form>
            </div>
            
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
</div>
<!--  操作查看/敏感区域模态框 end -->

<!--以下市可视化内容-->
<div id="sensitiveAreaMap" style="width:100%;height:800px;ground:#ddd;"></div>
<div class="btn-grop">
    <button class="btn btn-guiji" ng-click="clearAll()">
        <i class="glyphicon glyphicon-trash"></i>
        清除轨迹
    </button>

</div>