<div class="station-content shadow">
    <nav class="page-title no-margin no-padding full-width">
        <div class="title-brand flex align-items no-border">
            <!-- <select id="" class="form-control" ng-style style="width:25%;margin-left:20px;"
                    ng-model="stationStatusForShow" ng-disabled="editable" ng-change="stationStatusShow()"
                    ng-options="x.id as x.name for x in AllStationStatusForShow">

            </select> -->
            <ul class="title-nav flex-around align-items margin-left">
            <li> 基站编号搜索：</li>
                <li>
                    <form class="navbar-form navbar-form-sm" ui-shift="prependTo" data-target=".navbar-collapse"
                          role="search">
                        <div class="form-group border-bottom">
                         
                            <div class="input-group">
                          
                                <input ng-attr-type type="text" ng-model="stationPhyNum"
                                       typeahead="state for state in states | filter:$viewValue | limitTo:8"
                                       class="form-control input-sm bg-light no-border searchInput no-padding"
                                       placeholder placeholder="请输入基站编号搜索" ng-style style="color:#333;">
                <span class="input-group-btn">
                     <button ng-click="goSearch()" class="btn btn-sm bg-light searchInput text-right">
                         <img src="app/img/search .png" alt="" class="pull-right"/>
                     </button>
                </span>
                            </div>
                        </div>
                    </form>
                </li>
                <li class="border-dashed" ng-style style="height:15px;color:#2C7DFA;"></li>
                <li ng-show="rootUserPowerDto.stationDelete==1 && rootUserPowerDto.sysUser.opt_power==1">
                    <a href="">
                        <button ng-click="goDeleteStations()" class="btn btn-guiji">
                            <i class="glyphicon glyphicon-trash"></i>
                            批量删除
                        </button>
                    </a>
                </li>
            </ul>
        </div>

        <!-- 表格操作区域开始 -->
        <div class="tableArea no-padding full-width no-margin">
            <table class="table table-striped " id="tableArea" ng-model="AllStations">
                <thead>
                <tr>
                    <th>
                        <div>
                            <input ng-attr-type type="checkbox" ng-checked="isChecked()" ng-click="toggleAll()" class="checkBox">
                        </div>
                    </th>
                    <!--<th>序号</th>-->
                    <th>基站物理编号</th>
                    <th>基站名称</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="station in AllStations">
                    <td ng-style="{true: myClass, false: ''}[station.station_status==1]">
                        <input ng-attr-type type="checkbox" ng-checked="exists(station, selected)"
                               ng-click="toggle(station, selected)"/>
                    </td>
                    <td ng-style="{true: myClass, false: ''}[station.station_status==1]">{{station.station_phy_num}}</td>
                    <td ng-style="{true: myClass, false: ''}[station.station_status==1]">{{station.station_name}}</td>
                    <td ng-style="{true: myClass, false: ''}[station.station_status==1]">
                        <i ng-show="rootUserPowerDto.stationDelete==1 && rootUserPowerDto.sysUser.opt_power==1" class="glyphicon glyphicon-trash"
                           ng-click="goDeleteStation(station.station_id)"></i>
                        <i class="glyphicon glyphicon-map-marker" ng-click="goStationLocation(station.station_id)"
                           title="查看位置" ng-style style="color:#3C7ADA;"></i>
                        <!--<button ng-show="rootUserPowerDto.stationDelete==1" class="btn btn-primary btn-sm" ng-click="goDeleteStation(station.station_id)">删除</button>-->
                        <!--<button class="btn btn-primary btn-sm" ng-click="goStationLocation(station.station_id)">查看位置-->
                        <!--</button>-->
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="page">
                <!-- 翻页功能 -->
                <div class="row" ng-style style="text-align:center">
                    <pagination ng-change="pageChanged()" total-items="bigTotalItems"
                                ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm"
                                boundary-links="true" rotate="false" num-pages="numPages"></pagination>
                </div>
            </div>
        </div>
        <!-- 表格操作区域结束 -->
    </nav>
    <div class="dismis closeStationPosition fa fa-fw fa-angle-left"></div>
</div>

<!--以下市可视化内容-->
<div id="stationMap" ng-style style="width:100%;height:1000px;ground:#ddd;"></div>
<!--添加基站信息模态框-->
<div class="modal fade" id="addStation" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button ng-attr-type type="button" class="close"
                        data-dismiss="modal" aria-hidden="true" class="disModal">
                    &times;
                </button>
                <div class="modal-title">
                    添加基站
                </div>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="electForm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">
                                    <i>*</i>
                                    物理编号：
                                </label>

                                <div class="col-sm-8">
                                    <input ng-attr-type type="text" id="addStationPhyNum" class="form-control"
                                           ng-model="addStationPhyNum">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">
                                  <i>*</i>
                                    安装时间：
                                </label>

                                <div class="col-sm-8">
                                    <div class='input-group date' id='electAlarmDate'>
                                        <input ng-attr-type type='text' class="form-control" placeholder placeholder="选择安装时间" readonly
                                               ng-model="addInstallDate"/>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
						                </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">
                                    经度：
                                </label>

                                <div class="col-sm-8">
                                    <input ng-attr-type type="text" id="addStationLng" class="form-control" ng-model="addStationLng">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">
                                    纬度：
                                </label>

                                <div class="col-sm-8">
                                    <input ng-attr-type type="text" id="addStationLat" class="form-control" ng-model="addStationLat">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">
                                    <i>*</i>
                                    基站型号：
                                </label>

                                <div class="col-sm-8">
                                    <select class="form-control"
                                            ng-model="addStationType" ng-disabled="editable"
                                            ng-options="x.id as x.name for x in AllStationType"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">
                                    <i>*</i>
                                    基站状态：
                                </label>

                                <div class="col-sm-8">
                                    <select class="form-control"
                                            ng-model="addStationStatus" ng-disabled="editable"
                                            ng-options="x.id as x.name for x in AllStationStatus"></select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">
                                    设备名称：
                                </label>

                                <div class="col-sm-8">
                                    <input ng-attr-type type="text" class="form-control" ng-model="addStationName">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">
                                    软件版本：
                                </label>

                                <div class="col-sm-8">
                                    <input ng-attr-type type="text" class="form-control" ng-model="addSoftVersion">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">
                                    联系人：
                                </label>

                                <div class="col-sm-8">
                                    <input ng-attr-type type="text" class="form-control" ng-model="addcontactPerson">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">
                                    联系电话：
                                </label>

                                <div class="col-sm-8">
                                    <input ng-attr-type type="text" class="form-control" ng-model="addcontactTele">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">
                                    基站地址：
                                </label>

                                <div class="col-sm-8">
                                    <input ng-attr-type type="text" class="form-control" id="addStationAddress"
                                           ng-model="addStationAddress">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row fileup">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label ">
                                    安装图片：
                                </label>

                                <div class="col-sm-8 up-content">
                                    <a href="javascript:;" class="picfile">
                                        <input ng-attr-type type="file" id="installPic" ngf-select="addInstallPic()"
                                               ng-model="installPic" name="installPic">
                                        <output id="pic_list" class="pic_list">
                                        <span>
                                            <img ngf-src="installPic" title="{{installPic.name}}">
                                            <i ng-click="dropInstallPic(installPic)">×</i>
                                        </span>
                                        </output>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button ng-attr-type type="button" ng-click="submit()" class="btn btn-primary">
                    添加
                </button>
                <button ng-attr-type type="button" class="btn btn-default disModal"
                        data-dismiss="modal">取消
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
</div>
<!--添加基站信息模态框 end-->
<div id="mapSearchStation">
    <div id="r-result" class="form-group has-feedback">
        <input ng-attr-type type="text" id="suggestId" size="20" ng-attr-value="百度" class="form-control" placeholder placeholder="搜索地址、区域"/>
        <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
    </div>
    <div id="searchResultPanel" ng-style style="border:1px solid #C0C0C0;width:150px;height:auto; display:none;"></div>
</div>
<div class="doubleClick">
    <img src="app/img/dubleClick.png" alt=""/>
    双击地图即可添加基站
</div>