<nav class="page-title shadow userManage">
    <div class="title-brand flex-between align-items">
        <div class="title-text">用户管理</div>
        <ul class="title-nav flex align-items">
            <li>
                <form class="navbar-form navbar-form-sm navbar-left" ui-shift="prependTo"
                      data-target=".navbar-collapse" role="search">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" ng-model="keyword"
                                   typeahead="state for state in states | filter:$viewValue | limitTo:8"
                                   class="form-control input-sm bg-light no-border searchInput padder"
                                   placeholder="账户查询">
                                 <span class="input-group-btn">
                                    <button ng-click="goSearch()" type="submit" class="btn btn-sm bg-light searchInput"><i
                                            class="fa fa-search margin-right"></i></button>
                                </span>
                        </div>
                    </div>
                </form>
            </li>
            <li>
                <a href="">
                    <b class="border-dashed-left"></b>
                    <i class="glyphicon glyphicon-trash"></i>
                    <span ng-click="deleteUsers()">批量删除</span>
                    <b class="border-dashed"></b>
                </a>
            </li>
            <li>
                <a href="" data-toggle="modal" data-target="#addUser">
                    <i class="glyphicon glyphicon-plus"></i>
                    添加用户
                </a>
            </li>
        </ul>
    </div>
</nav>

<!-- 表格操作区域开始 -->
<div class="tableArea countent no-padding shadow">
    <table class="table table-striped table-bordered" id="tableArea" ng-model="Allusers">
        <thead>
        <tr>
            <th>
                <div>
                    <input type="checkbox" ng-checked="isChecked()" ng-click="toggleAll()" class="checkBox">
                    <label for="allSecSon"></label>
                </div>
            </th>
            <th>序号</th>
            <th>管理员账号</th>
            <th>昵称</th>
            <th>手机号</th>
            <th>所属区域</th>
            <th>创建时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in Allusers">
            <td>
                <input type="checkbox" ng-checked="exists(user, selected)"
                       ng-click="toggle(user, selected)"/>
            </td>
            <!-- <td>{{user.sysUser.user_id}}</td> -->
            <td>{{$index+1}}</td>
            <td>{{user.sysUser.user_name}}</td>
            <td>{{user.sysUser.nickname}}</td>
            <td>{{user.sysUser.user_tel}}</td>
            <td>{{user.pro_name}}_{{user.city_name}}_{{user.area_name}}</td>
            <td>{{user.sysUser.create_time}}</td>
            <td>
                <button class="btn btn-primary btn-sm" ng-click="goDeleteUser(user.sysUser.user_id)">删除</button>
                <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#updateUser"
                        ng-click="goUpdateUser(user.sysUser.user_id)">编辑
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="page">
        <!-- 翻页功能 -->
        <div class="row" style="text-align:center">
            <pagination ng-change="pageChanged()" total-items="bigTotalItems"
                        ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm"
                        boundary-links="true" rotate="false" num-pages="numPages"></pagination>
        </div>
    </div>
</div>


<!--  添加用户模态框 -->
<div class="modal fade" id="addUser" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="">
                    添加用户
                </h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="userForm">

                    <!--弹框主要内容区域-->
                    <div class="addUserModal">
                        <div class="addUserTitle">请配置用户权限</div>

                        <div class="userModalSwitch flex-between margin-top2">
                            <ul class="flex ">
                                <li>
                                    <button class="btn btn-white" type="button">
                                        <i class="glyphicon glyphicon-search"></i>
                                        查询权限
                                       <!--  <div class="swichWrap">
                                            <div class="btnCircle" ></div>
                                        </div> -->
                                        <input type="checkbox" class="form-control" checked="checked" disabled>
                                    </button>
                                </li>
                                <li>
                                    <button class="btn btn-white margin-left-md" type="button">
                                        <i class="glyphicon glyphicon-edit"></i>
                                        操作权限
                                        <!-- <div class="swichWrap">
                                            <div class="btnCircle"></div>
                                        </div> -->
                                        <input type="checkbox" class="form-control" id="optPower">
                                    </button>
                                </li>
                            </ul>


                            <div class="form-group flex" id="userAreaSelect">
                                <label for="" class="control-label">
                                    <i>*</i>
                                    地区：
                                </label>
                                <select ng-show="userPowerDto.sysUser.pro_power==-1" id="" class="form-control" ng-model="addProvinceID" ng-disabled="editable"
                                        ng-change="getCitis()"
                                        ng-options="x.province_id as x.name for x in provinces"></select>
                                <button ng-show="userPowerDto.sysUser.pro_power!=-1" class="btn btn-default">{{userPowerDto.pro_name}}</button>
                                
                                <select ng-show="userPowerDto.sysUser.city_power==-1" id="" class="form-control" ng-model="addCityID" ng-disabled="editable"
                                        ng-change="getAreas(addCityID)"
                                        ng-options="x.city_id as x.name for x in citis"></select>
                                <button ng-show="userPowerDto.sysUser.city_power!=-1" class="btn btn-default">{{userPowerDto.city_name}}</button>
                                
                                <select ng-show="userPowerDto.sysUser.area_power==-1" id="" class="form-control" ng-model="addAreaID" ng-disabled="editable"
                                        ng-options="x.area_id as x.name for x in areas"></select>
                                <button ng-show="userPowerDto.sysUser.area_power!=-1" class="btn btn-default">{{userPowerDto.area_name}}</button>
                            </div>
                        </div>

                       
                       <!--监控台权限管理开始-->
                        <nav class="page-title">
                            <div class="title-brand flex-between align-items">
                                <div class="title-text">
                                    <img src="app/img/config-home.png" alt=""/>
                                    <span>监控台</span>
                                </div>
                                <ul class="title-nav flex flex-items">
                                    <li>
                                        <input type="checkbox" class="form-control" id="console">
                                    </li>
                                </ul>
                            </div>
                            <div class="search-container">
                                <button class="btn btn-white" type="button">
                                    轨迹查询
                                    <input type="checkbox" class="form-control" id="traceSearch">
                                    <!-- <i class="glyphicon glyphicon-ok btn-ok"></i> -->
                                </button>
                                <button class="btn btn-white" type="button">
                                    定位
                                     <input type="checkbox" class="form-control" id="location">
                                    <!-- <i class="glyphicon glyphicon-ok btn-ok"></i> -->
                                </button>
                            </div>
                        </nav>
                        <!--监控台权限管理结束-->

                        <!--车辆管理开始-->
                        <nav class="page-title">
                            <div class="title-brand flex-between align-items inputParent">
                                <div class="title-text">
                                    <img src="app/img/config-car.png" alt=""/>
                                    <span>车辆管理</span>
                                </div>
                                <ul class="title-nav flex flex-items">
                                    <li>
                                        <input type="checkbox" class="form-control" id="electManage">
                                    </li>
                                </ul>
                            </div>

                            <ul class="search-container">
                                <li class="tab1-car">
                                    <button class="btn btn-white" type="button">
                                        车辆备案
                                       <!--  <i class="glyphicon glyphicon-ok btn-ok"></i> -->
                                       <input type="checkbox" class="form-control" id="electRecord">
                                    </button>
                                    <button class="btn btn-white" type="button">
                                        黑名单管理
                                        <!-- <i class="glyphicon glyphicon-ok btn-ok"></i> -->
                                        <input type="checkbox" class="form-control" id="blackManage">
                                    </button>
                                    <button class="btn btn-white" type="button">
                                        报警追踪
                                         <input type="checkbox" class="form-control" id="alarmTrack">
                                       <!--  <i class="glyphicon glyphicon-ok btn-ok"></i> -->
                                    </button>
                                     <button class="btn btn-white" type="button">
                                        车辆管理-添加车辆
                                       <!--  <i class="glyphicon glyphicon-ok btn-ok"></i> -->
                                       <input type="checkbox" class="form-control" id="electAdd">
                                    </button>
                                    <button class="btn btn-white" type="button">
                                        车辆管理-删除车辆
                                        <!-- <i class="glyphicon glyphicon-ok btn-ok"></i> -->
                                        <input type="checkbox" class="form-control" id="electDelete">
                                    </button>
                                    <button class="btn btn-white" type="button">
                                        车辆管理-批量导出
                                         <input type="checkbox" class="form-control" id="electExport">
                                       <!--  <i class="glyphicon glyphicon-ok btn-ok"></i> -->
                                    </button>
                                    <button class="btn btn-white" type="button">
                                        车辆管理-编辑车辆
                                         <input type="checkbox" class="form-control" id="electEdit">
                                       <!--  <i class="glyphicon glyphicon-ok btn-ok"></i> -->
                                    </button>
                                    <button class="btn btn-white" type="button">
                                        黑名单管理-添加黑名单
                                         <input type="checkbox" class="form-control" id="blackAdd">
                                       <!--  <i class="glyphicon glyphicon-ok btn-ok"></i> -->
                                    </button>
                                    <button class="btn btn-white" type="button">
                                        黑名单管理-删除黑名单
                                         <input type="checkbox" class="form-control" id="blackDelete">
                                       <!--  <i class="glyphicon glyphicon-ok btn-ok"></i> -->
                                    </button>
                                    <button class="btn btn-white" type="button">
                                        黑名单管理-编辑黑名单
                                         <input type="checkbox" class="form-control" id="blackEdit">
                                       <!--  <i class="glyphicon glyphicon-ok btn-ok"></i> -->
                                    </button>
                                    <button class="btn btn-white" type="button">
                                        报警追踪-删除报警
                                         <input type="checkbox" class="form-control" id="alarmDelete">
                                       <!--  <i class="glyphicon glyphicon-ok btn-ok"></i> -->
                                    </button>
                                </li>
                            </ul>
                        </nav>
                        <!--车辆管理开始结束-->

                        <!--基站管理开始-->
                        <nav class="page-title">
                            <div class="title-brand flex-between align-items inputParent">
                                <div class="title-text">
                                    <img src="app/img/stations-title.png" alt=""/>
                                    <span>基站管理</span>
                                </div>
                                <ul class="title-nav flex flex-items">
                                    <li>
                                        <input type="checkbox" class="form-control" id="stationManageWhole">
                                    </li>
                                </ul>
                            </div>
                            <ul class="search-container">
                                <li class="tab1-car">
                                    <button class="btn btn-white" type="button">
                                        基站管理
                                        <!-- <i class="glyphicon glyphicon-ok btn-ok"></i> -->
                                         <input type="checkbox" class="form-control" id="stationManage">
                                    </button>
                                    <button class="btn btn-white" type="button">
                                        基站设备管理
                                        <!-- <i class="glyphicon glyphicon-ok btn-ok"></i> -->
                                        <input type="checkbox" class="form-control" id="stationDeviceManage">
                                    </button>
                                    <button class="btn btn-white" type="button">
                                        基站管理-添加基站
                                        <!-- <i class="glyphicon glyphicon-ok btn-ok"></i> -->
                                         <input type="checkbox" class="form-control" id="stationAdd">
                                    </button>
                                    <button class="btn btn-white" type="button">
                                        基站管理-删除基站
                                        <!-- <i class="glyphicon glyphicon-ok btn-ok"></i> -->
                                        <input type="checkbox" class="form-control" id="stationDelete">
                                    </button>
                                     <button class="btn btn-white" type="button">
                                        基站设备管理-删除基站
                                        <!-- <i class="glyphicon glyphicon-ok btn-ok"></i> -->
                                         <input type="checkbox" class="form-control" id="stationDeviceDelete">
                                    </button>
                                    <button class="btn btn-white" type="button">
                                        基站设备管理-修改基站
                                        <!-- <i class="glyphicon glyphicon-ok btn-ok"></i> -->
                                        <input type="checkbox" class="form-control" id="stationDeviceUpdate">
                                    </button>
                                </li>
                            </ul>
                        </nav>
                        <!--基站管理开始结束-->

                        <!--特殊区域管理开始-->
                        <nav class="page-title">
                            <div class="title-brand flex-between align-items inputParent">
                                <div class="title-text">
                                    <img src="app/img/teshu.png" alt=""/>
                                    <span>特殊区域管理</span>
                                </div>
                                <ul class="title-nav flex flex-items">
                                    <li>
                                        <input type="checkbox" class="form-control" id="specialAreaManage">
                                    </li>
                                </ul>
                            </div>

                            <ul class="search-container">
                                <li class="tab1-car">
                                    <button class="btn btn-white" type="button">
                                        限制区域管理
                                       <!--  <i class="glyphicon glyphicon-ok btn-ok"></i> -->
                                        <input type="checkbox" class="form-control" id="limitAreaManage">
                                    </button>
                                    <button class="btn btn-white" type="button">
                                        敏感区域管理
                                        <!-- <i class="glyphicon glyphicon-ok btn-ok"></i> -->
                                         <input type="checkbox" class="form-control" id="sensitiveAreaManage">
                                    </button>
                                </li>
                            </ul>
                        </nav>
                        <!--特殊区域管理开始结束-->

                        <!--区域报警管理开始-->
                        <nav class="page-title">
                            <div class="title-brand flex-between align-items inputParent">
                                <div class="title-text">
                                    <img src="app/img/teshu.png" alt=""/>
                                    <span>区域报警管理</span>
                                </div>
                                <ul class="title-nav flex flex-items">
                                    <li>
                                        <input type="checkbox" class="form-control" id="AreaAlarmManage">
                                    </li>
                                </ul>
                            </div>

                            <ul class="search-container">
                                <li class="tab1-car">
                                    <button class="btn btn-white" type="button">
                                        限制区域报警管理
                                        <!-- <i class="glyphicon glyphicon-ok btn-ok"></i> -->
                                        <input type="checkbox" class="form-control" id="limitAlarmManage">
                                    </button>
                                    <button class="btn btn-white" type="button">
                                        敏感区域报警管理
                                        <!-- <i class="glyphicon glyphicon-ok btn-ok"></i> -->
                                        <input type="checkbox" class="form-control" id="sensitiveAlarmManage">
                                    </button>
                                </li>
                            </ul>
                        </nav>
                        <!--区域报警管理结束-->


                        <!--图标统计开始-->
                        <nav class="page-title">
                            <div class="title-brand flex-between align-items inputParent">
                                <div class="title-text">
                                    <img src="app/img/charts.png" alt=""/>
                                    <span>图表统计</span>
                                </div>
                                <ul class="title-nav flex flex-items">
                                    <li>
                                        <input type="checkbox" class="form-control" id="dataAnalysis">
                                    </li>
                                </ul>
                            </div>

                            <!-- <ul class="search-container">
                                <li class="tab1-car">
                                    <button class="btn btn-white" type="button">
                                        图表统计
                                        <input type="checkbox" class="form-control">
                                        <i class="glyphicon glyphicon-ok btn-ok"></i>
                                    </button>
                                </li>
                            </ul> -->
                        </nav>
                        <!--图标统计结束-->

                        <!--用户管理开始-->
                        <nav class="page-title">
                            <div class="title-brand flex-between align-items inputParent">
                                <div class="title-text">
                                    <img src="app/img/userIcon.png" alt=""/>
                                    <span>用户管理</span>
                                </div>
                                <ul class="title-nav flex flex-items">
                                    <li>
                                        <input type="checkbox" class="form-control" id="userManagePower">
                                    </li>
                                </ul>
                            </div>
                            <ul class="search-container">
                                <li class="tab1-car">
                                    <button class="btn btn-white" type="button">
                                        用户管理-添加用户
                                        <input type="checkbox" class="form-control"  id="userAdd">
                                        <!-- <i class="glyphicon glyphicon-ok btn-ok"></i> -->
                                    </button>
                                     <button class="btn btn-white" type="button">
                                        用户管理-删除用户
                                        <input type="checkbox" class="form-control" id="userDelete">
                                        <!-- <i class="glyphicon glyphicon-ok btn-ok"></i> -->
                                    </button>
                                     <button class="btn btn-white" type="button">
                                        用户管理-编辑用户
                                        <input type="checkbox" class="form-control" id="userEdit">
                                        <!-- <i class="glyphicon glyphicon-ok btn-ok"></i> -->
                                    </button>
                                </li>
                            </ul>
                        </nav>
                        <!--用户管理结束-->
                       

                        <div class="divider-line"></div>

                        <div class="addUserTitle margin-top2 margin-bottom2">请配置账户信息</div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label for="" class="control-label col-md-4">
                                        <i>*</i>
                                        登陆账户：
                                    </label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="username">
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 control-label">
                                        <i>*</i>
                                        昵称：
                                    </label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="nickname">
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label for="" class="control-label col-md-4">
                                        <i>*</i>
                                        密码：
                                    </label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="password1">
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 control-label">
                                        <i>*</i>
                                        确认密码：
                                    </label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="password2">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label for="" class="control-label col-md-4">
                                        <i>*</i>
                                        手机号：
                                    </label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="telephone">
                                    </div>
                                </div>
                            </div>
                    </div>
                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="submit()" class="btn btn-primary">
                    提交
                </button>
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">取消
                </button>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
</div>
<!--  添加用户模态框 end -->




<!--  更新用户模态框 -->
<div class="modal fade" id="updateUser" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="">
                    编辑用户
                </h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="userForm">

                    <!--弹框主要内容区域-->
                    <div class="addUserModal">
                        <div class="addUserTitle">请配置用户权限</div>

                        <div class="userModalSwitch flex-between margin-top2">
                            <ul class="flex ">
                                <li>
                                    <button class="btn btn-white" type="button">
                                        <i class="glyphicon glyphicon-search"></i>
                                        查询权限
                                       <!--  <div class="swichWrap">
                                            <div class="btnCircle" ></div>
                                        </div> -->
                                        <input type="checkbox" class="form-control" checked="checked" disabled>
                                    </button>
                                </li>
                                <li>
                                    <button class="btn btn-white margin-left-md" type="button">
                                        <i class="glyphicon glyphicon-edit"></i>
                                        操作权限
                                        <!-- <div class="swichWrap">
                                            <div class="btnCircle"></div>
                                        </div> -->
                                        <input type="checkbox" class="form-control" id="optPowerChange">
                                    </button>
                                </li>
                            </ul>


                            <div class="form-group flex" id="userAreaSelect">
                                <label for="" class="control-label">
                                    <i>*</i>
                                    地区：
                                </label>
                                <select ng-show="userPowerDto.sysUser.pro_power==-1" id="" class="form-control" ng-model="userForUpdate.sysUser.pro_power" ng-disabled="editable"
                                        ng-change="getCitisForUpdate()"
                                        ng-options="x.province_id as x.name for x in provincesForUpdate"></select>
                                <button ng-show="userPowerDto.sysUser.pro_power!=-1" class="btn btn-default">{{userPowerDto.pro_name}}</button>
                                
                                <select ng-show="userPowerDto.sysUser.city_power==-1" id="" class="form-control" ng-model="userForUpdate.sysUser.city_power" ng-disabled="editable"
                                        ng-change="getAreasForUpdate()"
                                        ng-options="x.city_id as x.name for x in citisForUpdate"></select>
                                <button ng-show="userPowerDto.sysUser.city_power!=-1" class="btn btn-default">{{userPowerDto.city_name}}</button>
                                
                                <select ng-show="userPowerDto.sysUser.area_power==-1" id="" class="form-control" ng-model="userForUpdate.sysUser.area_power" ng-disabled="editable"
                                        ng-options="x.area_id as x.name for x in areasForUpdate"></select>
                                <button ng-show="userPowerDto.sysUser.area_power!=-1" class="btn btn-default">{{userPowerDto.area_name}}</button>
                            </div>
                        </div>

                       
                       <!--监控台权限管理开始-->
                        <nav class="page-title">
                            <div class="title-brand flex-between align-items">
                                <div class="title-text">
                                    <img src="app/img/config-home.png" alt=""/>
                                    <span>监控台</span>
                                </div>
                                <ul class="title-nav flex flex-items">
                                    <li>
                                        <input type="checkbox" class="form-control" id="consoleChange">
                                    </li>
                                </ul>
                            </div>
                            <div class="search-container">
                                <button class="btn btn-white" type="button">
                                    轨迹查询
                                    <input type="checkbox" class="form-control" id="traceSearchChange">
                                    <!-- <i class="glyphicon glyphicon-ok btn-ok"></i> -->
                                </button>
                                <button class="btn btn-white" type="button">
                                    定位
                                     <input type="checkbox" class="form-control" id="locationChange">
                                    <!-- <i class="glyphicon glyphicon-ok btn-ok"></i> -->
                                </button>
                            </div>
                        </nav>
                        <!--监控台权限管理结束-->

                        <!--车辆管理开始-->
                        <nav class="page-title">
                            <div class="title-brand flex-between align-items inputParent">
                                <div class="title-text">
                                    <img src="app/img/config-car.png" alt=""/>
                                    <span>车辆管理</span>
                                </div>
                                <ul class="title-nav flex flex-items">
                                    <li>
                                        <input type="checkbox" class="form-control" id="electManageChange">
                                    </li>
                                </ul>
                            </div>

                            <ul class="search-container">
                                <li class="tab1-car">
                                    <button class="btn btn-white" type="button">
                                        车辆备案
                                       <!--  <i class="glyphicon glyphicon-ok btn-ok"></i> -->
                                       <input type="checkbox" class="form-control" id="electRecordChange">
                                    </button>
                                    <button class="btn btn-white" type="button">
                                        黑名单管理
                                        <!-- <i class="glyphicon glyphicon-ok btn-ok"></i> -->
                                        <input type="checkbox" class="form-control" id="blackManageChange">
                                    </button>
                                    <button class="btn btn-white" type="button">
                                        报警追踪
                                         <input type="checkbox" class="form-control" id="alarmTrackChange">
                                       <!--  <i class="glyphicon glyphicon-ok btn-ok"></i> -->
                                    </button>
                                     <button class="btn btn-white" type="button">
                                        车辆管理-添加车辆
                                       <!--  <i class="glyphicon glyphicon-ok btn-ok"></i> -->
                                       <input type="checkbox" class="form-control" id="electAddChange">
                                    </button>
                                    <button class="btn btn-white" type="button">
                                        车辆管理-删除车辆
                                        <!-- <i class="glyphicon glyphicon-ok btn-ok"></i> -->
                                        <input type="checkbox" class="form-control" id="electDeleteChange">
                                    </button>
                                    <button class="btn btn-white" type="button">
                                        车辆管理-批量导出
                                         <input type="checkbox" class="form-control" id="electExportChange">
                                       <!--  <i class="glyphicon glyphicon-ok btn-ok"></i> -->
                                    </button>
                                    <button class="btn btn-white" type="button">
                                        车辆管理-编辑车辆
                                         <input type="checkbox" class="form-control" id="electEditChange">
                                       <!--  <i class="glyphicon glyphicon-ok btn-ok"></i> -->
                                    </button>
                                    <button class="btn btn-white" type="button">
                                        黑名单管理-添加黑名单
                                         <input type="checkbox" class="form-control" id="blackAddChange">
                                       <!--  <i class="glyphicon glyphicon-ok btn-ok"></i> -->
                                    </button>
                                    <button class="btn btn-white" type="button">
                                        黑名单管理-删除黑名单
                                         <input type="checkbox" class="form-control" id="blackDeleteChange">
                                       <!--  <i class="glyphicon glyphicon-ok btn-ok"></i> -->
                                    </button>
                                    <button class="btn btn-white" type="button">
                                        黑名单管理-编辑黑名单
                                         <input type="checkbox" class="form-control" id="blackEditChange">
                                       <!--  <i class="glyphicon glyphicon-ok btn-ok"></i> -->
                                    </button>
                                    <button class="btn btn-white" type="button">
                                        报警追踪-删除报警
                                         <input type="checkbox" class="form-control" id="alarmDeleteChange">
                                       <!--  <i class="glyphicon glyphicon-ok btn-ok"></i> -->
                                    </button>
                                </li>
                            </ul>
                        </nav>
                        <!--车辆管理开始结束-->

                        <!--基站管理开始-->
                        <nav class="page-title">
                            <div class="title-brand flex-between align-items inputParent">
                                <div class="title-text">
                                    <img src="app/img/stations-title.png" alt=""/>
                                    <span>基站管理</span>
                                </div>
                                <ul class="title-nav flex flex-items">
                                    <li>
                                        <input type="checkbox" class="form-control" id="stationManageWholeChange">
                                    </li>
                                </ul>
                            </div>
                            <ul class="search-container">
                                <li class="tab1-car">
                                    <button class="btn btn-white" type="button">
                                        基站管理
                                        <!-- <i class="glyphicon glyphicon-ok btn-ok"></i> -->
                                         <input type="checkbox" class="form-control" id="stationManageChange">
                                    </button>
                                    <button class="btn btn-white" type="button">
                                        基站设备管理
                                        <!-- <i class="glyphicon glyphicon-ok btn-ok"></i> -->
                                        <input type="checkbox" class="form-control" id="stationDeviceManageChange">
                                    </button>
                                    <button class="btn btn-white" type="button">
                                        基站管理-添加基站
                                        <!-- <i class="glyphicon glyphicon-ok btn-ok"></i> -->
                                         <input type="checkbox" class="form-control" id="stationAddChange">
                                    </button>
                                    <button class="btn btn-white" type="button">
                                        基站管理-删除基站
                                        <!-- <i class="glyphicon glyphicon-ok btn-ok"></i> -->
                                        <input type="checkbox" class="form-control" id="stationDeleteChange">
                                    </button>
                                     <button class="btn btn-white" type="button">
                                        基站设备管理-删除基站
                                        <!-- <i class="glyphicon glyphicon-ok btn-ok"></i> -->
                                         <input type="checkbox" class="form-control" id="stationDeviceDeleteChange">
                                    </button>
                                    <button class="btn btn-white" type="button">
                                        基站设备管理-修改基站
                                        <!-- <i class="glyphicon glyphicon-ok btn-ok"></i> -->
                                        <input type="checkbox" class="form-control" id="stationDeviceUpdateChange">
                                    </button>
                                </li>
                            </ul>
                        </nav>
                        <!--基站管理开始结束-->

                        <!--特殊区域管理开始-->
                        <nav class="page-title">
                            <div class="title-brand flex-between align-items inputParent">
                                <div class="title-text">
                                    <img src="app/img/teshu.png" alt=""/>
                                    <span>特殊区域管理</span>
                                </div>
                                <ul class="title-nav flex flex-items">
                                    <li>
                                        <input type="checkbox" class="form-control" id="specialAreaManageChange">
                                    </li>
                                </ul>
                            </div>

                            <ul class="search-container">
                                <li class="tab1-car">
                                    <button class="btn btn-white" type="button">
                                        限制区域管理
                                       <!--  <i class="glyphicon glyphicon-ok btn-ok"></i> -->
                                        <input type="checkbox" class="form-control" id="limitAreaManageChange">
                                    </button>
                                    <button class="btn btn-white" type="button">
                                        敏感区域管理
                                        <!-- <i class="glyphicon glyphicon-ok btn-ok"></i> -->
                                         <input type="checkbox" class="form-control" id="sensitiveAreaManageChange">
                                    </button>
                                </li>
                            </ul>
                        </nav>
                        <!--特殊区域管理开始结束-->

                        <!--区域报警管理开始-->
                        <nav class="page-title">
                            <div class="title-brand flex-between align-items inputParent">
                                <div class="title-text">
                                    <img src="app/img/teshu.png" alt=""/>
                                    <span>区域报警管理</span>
                                </div>
                                <ul class="title-nav flex flex-items">
                                    <li>
                                        <input type="checkbox" class="form-control" id="AreaAlarmManageChange">
                                    </li>
                                </ul>
                            </div>

                            <ul class="search-container">
                                <li class="tab1-car">
                                    <button class="btn btn-white" type="button">
                                        限制区域报警管理
                                        <!-- <i class="glyphicon glyphicon-ok btn-ok"></i> -->
                                        <input type="checkbox" class="form-control" id="limitAlarmManageChange">
                                    </button>
                                    <button class="btn btn-white" type="button">
                                        敏感区域报警管理
                                        <!-- <i class="glyphicon glyphicon-ok btn-ok"></i> -->
                                        <input type="checkbox" class="form-control" id="sensitiveAlarmManageChange">
                                    </button>
                                </li>
                            </ul>
                        </nav>
                        <!--区域报警管理结束-->


                        <!--图标统计开始-->
                        <nav class="page-title">
                            <div class="title-brand flex-between align-items inputParent">
                                <div class="title-text">
                                    <img src="app/img/charts.png" alt=""/>
                                    <span>图表统计</span>
                                </div>
                                <ul class="title-nav flex flex-items">
                                    <li>
                                        <input type="checkbox" class="form-control" id="dataAnalysisChange">
                                    </li>
                                </ul>
                            </div>

                            <!-- <ul class="search-container">
                                <li class="tab1-car">
                                    <button class="btn btn-white" type="button">
                                        图表统计
                                        <input type="checkbox" class="form-control">
                                        <i class="glyphicon glyphicon-ok btn-ok"></i>
                                    </button>
                                </li>
                            </ul> -->
                        </nav>
                        <!--图标统计结束-->

                        <!--用户管理开始-->
                        <nav class="page-title">
                            <div class="title-brand flex-between align-items inputParent">
                                <div class="title-text">
                                    <img src="app/img/userIcon.png" alt=""/>
                                    <span>用户管理</span>
                                </div>
                                <ul class="title-nav flex flex-items">
                                    <li>
                                        <input type="checkbox" class="form-control" id="userManageChange">
                                    </li>
                                </ul>
                            </div>
                            <ul class="search-container">
                                <li class="tab1-car">
                                    <button class="btn btn-white" type="button">
                                        用户管理-添加用户
                                        <input type="checkbox" class="form-control"  id="userAddChange">
                                        <!-- <i class="glyphicon glyphicon-ok btn-ok"></i> -->
                                    </button>
                                     <button class="btn btn-white" type="button">
                                        用户管理-删除用户
                                        <input type="checkbox" class="form-control" id="userDeleteChange">
                                        <!-- <i class="glyphicon glyphicon-ok btn-ok"></i> -->
                                    </button>
                                     <button class="btn btn-white" type="button">
                                        用户管理-编辑用户
                                        <input type="checkbox" class="form-control" id="userEditChange">
                                        <!-- <i class="glyphicon glyphicon-ok btn-ok"></i> -->
                                    </button>
                                </li>
                            </ul>
                        </nav>
                        <!--用户管理结束-->
                       

                        <div class="divider-line"></div>

                        <div class="addUserTitle margin-top2 margin-bottom2">请配置账户信息</div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label for="" class="control-label col-md-4">
                                        <i>*</i>
                                        登陆账户：
                                    </label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="userForUpdate.sysUser.user_name">
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 control-label">
                                        <i>*</i>
                                        昵称：
                                    </label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="userForUpdate.sysUser.nickname">
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- <div class="row">
                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label for="" class="control-label col-md-4">
                                        <i>*</i>
                                        密码：
                                    </label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="password1Change">
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 control-label">
                                        <i>*</i>
                                        确认密码：
                                    </label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="password2Change">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    
                    <div class="row">
                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label for="" class="control-label col-md-4">
                                        <i>*</i>
                                        手机号：
                                    </label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="userForUpdate.sysUser.user_tel">
                                    </div>
                                </div>
                            </div>
                    </div>
                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="update()" class="btn btn-primary">
                    提交
                </button>
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">取消
                </button>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
</div>
<!--  更新用户模态框 end -->