<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ems.iot.manage.dao.CityMapper">

    <select id="findCitysByProvinceId" parameterType="map" resultType="com.ems.iot.manage.entity.City">
        SELECT *
        FROM `city` WHERE `province_id` = #{provinceID}
    </select>
    
    <select id="findAreasByCityId" parameterType="map" resultType="com.ems.iot.manage.entity.Area">
        SELECT *
        FROM `area` WHERE `city_id` = #{cityID}
    </select>
    
    <select id="findCityById" parameterType="map" resultType="com.ems.iot.manage.entity.City">
        SELECT *
        FROM `city` WHERE `city_id` = #{CityID}
    </select>
    
     <select id="findProvinceById" parameterType="map" resultType="Province">
        SELECT *
        FROM `province` WHERE `province_id` = #{provinceID}
    </select>
    
     <select id="findCityList" parameterType="map" resultType="City">
        SELECT *
        FROM `city` 
    </select>

    <select id="findCityByNameAndProvinceId" parameterType="map" resultType="com.ems.iot.manage.entity.City">
        SELECT *
        FROM `city` 
        <where> 
		 <if test="provinceID != -1">
			     province_id=#{provinceID}
		 </if>
		  AND `name` like "%"#{cityName}"%"
		 </where>
    </select>
    
    <select id="findAreaNameByAreaID" parameterType="map" resultType="Area">
        SELECT *
        FROM `area` WHERE `area_id` = #{AreaID}
    </select>
    
    <select id="findProvinceByName" parameterType="map" resultType="Province">
        SELECT *
        FROM `province` WHERE `name` = #{provinceName}
    </select>
    
    <select id="findCityByNameAndProId" parameterType="map" resultType="City">
        SELECT *
        FROM `city` WHERE `name` = #{cityName} and `province_id` = #{proID}
    </select>
    
    <select id="findAreaByNameAndCityId" parameterType="map" resultType="Area">
        SELECT *
        FROM `area` WHERE `name` = #{areaName} and `city_id` = #{cityID}
    </select>
</mapper>