<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ems.iot.manage.dao.ProvinceMapper">

    <select id="findProvinceList" parameterType="map" resultType="Province">
        SELECT *
        FROM `province` 
    </select>
	<select id="selectByProID" parameterType="map" resultType="com.ems.iot.manage.entity.Province">
			SELECT * 
			FROM `province` WHERE province_id = #{pro_id}
	</select>
</mapper>